<%- include('header') %>
    <main id="content" class="site-main">
        <!-- Inner Banner html start-->
        <section class="inner-banner-wrap">
            <div class="inner-baner-container" style="background-image: url(/images/GroupePhoto1.jpg);">
                <div class="overlay balance-patten"></div>
                <div class="container">
                    <div class="inner-banner-content">
                        <h1 class="inner-title">À propos de nous</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- Inner Banner html end-->
        <!-- About page html start -->
        <section class="about-section">
            <div class="container">
                <h2 class="about-title text-center">Présentation du Cabinet d'Avocats</h2>
                <div class="row">
                    <div class="col-md-6">
                        <p class="about-describe info-left">
                            Le Cabinet J&J Law Firm réunit une équipe d'avocats expérimentés animés par l'excellence juridique et l'éthique professionnelle. Sous la direction de Maître Jethro Muyombi Tshimbu, avocat associé-gérant spécialisé en droit économique et minier, et de Maître John Ngoy Kibambe Kabange, notre structure combine expertise technique rigoureuse et vision stratégique. Forts de parcours académiques prestigieux et d'expériences diversifiées dans les secteurs public et privé, nos associés offrent un conseil juridique éclairé aux entreprises et institutions.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="about-describe info-right">
                            Notre équipe de collaborateurs spécialisés complète cette expertise avec des compétences en droit privé, droit de la famille, droit du travail et droit public. Maîtres Olga Kasongo, Daniel Kyungu, Emmanuel Matongo et Séraphin Kabamba apportent chacun leur savoir-faire spécifique, garantissant une couverture juridique complète. Polyglottes et profondément ancrés dans les réalités congolaises, tous nos avocats partagent les valeurs de transparence, d'écoute attentive et d'engagement total envers la défense des intérêts de nos clients.
                        </p>
                    </div>
                </div>
                <div class="counter-inner">
                    <div class="counter-item-wrap row">
                        <div class="col-lg-3 col-sm-6 counter-item">
                            <div class="counter-no">
                                <span class="counter">2</span>k+
                            </div>
                            <div class="Completed">
                                Consultation Client
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 counter-item">
                            <div class="counter-no">
                                <span class="counter">95</span>%
                            </div>
                            <div class="Completed">
                                Affaires Réussies
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 counter-item">
                            <div class="counter-no">
                                <span class="counter">12</span>+
                            </div>
                            <div class="Completed">
                                Avocats Professionnels
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 counter-item">
                            <div class="counter-no">
                                <span class="counter">20</span>+
                            </div>
                            <span class="Completed">
                                Prix Décernés
                            </span>
                        </div>
                    </div>
                </div>
                <div class="about-banner">
                    <figure class="about-image">
                        <img src="/images/legalor-img18.jpg" alt="">
                    </figure>
                    <div class="about-left-banner">
                        <div class="banner-icon">
                            <i aria-hidden="true" class="icon icon-trophy1"></i>
                        </div>
                        <h3>10+ YEARS OF EXPERIENCE</h3>
                    </div>
                    <div class="about-right-banner">
                        <!-- <h6 class="banner-title">Tour du Bureau</h6> -->
                        <!-- <div class="video-button">
                            <a id="video-container" data-video-id="IUN664s7N-c">
                                <i class="fas fa-play"></i>
                            </a>
                        </div> -->
                        <!-- <h5 class="info-title">Présentation du Bureau</h5>
                        <p>
                            Accusantium nunc labore, voluptas, justo, netus diam eros varius mattis maxime ratione aliquet sollicitudin.
                        </p> -->
                    </div>
                </div>
            </div>
        </section>
        <div class="slider-section about-slider">
            <div class="container">
                <div class="client-slider text-center">
                    <div class="client-item">
                        <figure>
                            <img src="/images/legalor-img20.png" alt="">
                        </figure>
                    </div>
                    <div class="client-item">
                        <figure>
                            <img src="/images/legalor-img21.png" alt="">
                        </figure>
                    </div>
                    <div class="client-item">
                        <figure>
                            <img src="/images/legalor-img22.png" alt="">
                        </figure>
                    </div>
                    <div class="client-item">
                        <figure>
                            <img src="images/legalor-img23.png" alt="">
                        </figure>
                    </div>
                    <div class="client-item">
                        <figure>
                            <img src="/images/legalor-img24.png" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <!-- About page html end -->
        <!-- about schedule section html start -->
        <section class="home-schedule about-schedule">
            <div class="overlay gradient-overlay"></div>
            <div class="container">
                <div class="schedule-wrapper">
                    <div class="right-side-schedule">
                        <aside class="section-head">
                            <h2 class="section-title">
                                Faites-nous appel pour tous vos besoins juridiques !
                            </h2>
                            <p class="section-paragraph">
                                Confiez vos affaires juridiques à notre équipe d'avocats expérimentés. Nous offrons des solutions personnalisées, efficaces et expertes pour une large gamme de questions juridiques.
                            </p>
                            <div class="timenote">
                                <div class="schedule-time">
                                    <ul>
                                        <li>
                                            <h6>Du lundi au vendredi</h6>
                                        </li>
                                        <li>
                                            <h6>9h00 - 18h00</h6>
                                        </li>
                                        <li>
                                            <h6>Dimanche et jours fériés (Fermé)</h6>
                                        </li>
                                    </ul>
                                </div>
                                <div class="note-list">
                                    <ul>
                                        <li>
                                            <i aria-hidden="true" class="far fa-check-square"></i>
                                            <span>
                                                Excellence axée sur le client.
                                            </span>
                                        </li>
                                        <li>
                                            <i aria-hidden="true" class="far fa-check-square"></i>
                                            <span>
                                                Perspectives juridiques stratégiques.
                                            </span>
                                        </li>
                                        <li>
                                            <i aria-hidden="true" class="far fa-check-square"></i>
                                            <span>
                                                Pratique guidée par l'intégrité.
                                            </span>
                                        </li>
                                        <li>
                                            <i aria-hidden="true" class="far fa-check-square"></i>
                                            <span>
                                                Naviguer dans le droit de manière efficace.
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="schedule-btn">
                                <a href="/contact" class="button-primary">ENGAGEZ-NOUS DÈS MAINTENANT !</a>
                            </div>
                        </aside>
                    </div>
                    <div class="left-side-shedule">
                        <div class="goal-wrapper">
                            <div class="circle-progressbar-yellow circle-progressbar" data-animate="false">
                                <div class="circle-bar" data-percent="95">
                                    <div class="circle-number"></div>
                                </div>
                            </div>
                            <h5 class="goal-title">Solution Juridique</h5>
                        </div>
                        <div class="goal-wrapper">
                            <div class="circle-progressbar-white circle-progressbar" data-animate="false">
                                <div class="circle-bar" data-percent="98">
                                    <div class="circle-number"></div>
                                </div>
                            </div>
                            <h5 class="goal-title">Réussite du Projet</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- footer part -->
<%- include('footer') %>
        