<%- include('header') %>
    <main id="content" class="site-main">
        <!-- Inner Banner html start-->
        <section class="inner-banner-wrap">
            <div class="inner-baner-container" style="background-image: url(assets/img/legalor-img50.jpg);">
                <div class="overlay balance-patten"></div>
                <div class="container">
                    <div class="inner-banner-content">
                        <h1 class="inner-title">About us</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- Inner Banner html end-->
        <!-- About page html start -->
        <section class="about-section">
            <div class="container">
                <h2 class="about-title text-center">Introduction About Law Firm</h2>
                <div class="row">
                    <div class="col-md-6">
                        <p class="about-describe info-left">
                            Maiores montes? Egestas imperdiet voluptates dolor volutpat magnis fugit laboris ullamcorper nam? Nostrum atque fames tempore excepteur tincidunt? Volutpat rerum laboris potenti, varius dui. Eleifend quaerat tempora repudiandae quo, adipisicing mollit nisl, tristique, tenetur exi.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="about-describe info-right">
                            Diamlorem dapibus congue nostrud, purus molestiae, explicabo error quia exercitationem, veniam aperiam, odit anim pariatur, per, cubilia voluptas porttitor iusto ducimus cubilia! Fames cumque pulvinar morbi nobis condimentum provident perferendis.
                        </p>
                    </div>
                </div>
                <div class="counter-inner">
                    <div class="counter-item-wrap row">
                        <div class="col-lg-3 col-sm-6 counter-item">
                            <div class="counter-no">
                                <span class="counter">9</span>k+
                            </div>
                            <div class="Completed">
                                Client Consultation
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 counter-item">
                            <div class="counter-no">
                                <span class="counter">95</span>%
                            </div>
                            <div class="Completed">
                                Successful Cases
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 counter-item">
                            <div class="counter-no">
                                <span class="counter">42</span>+
                            </div>
                            <div class="Completed">
                                Professional Attorneys
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 counter-item">
                            <div class="counter-no">
                                <span class="counter">25</span>+
                            </div>
                            <span class="Completed">
                                Award Achieved
                            </span>
                        </div>
                    </div>
                </div>
                <div class="about-banner">
                    <figure class="about-image">
                        <img src="assets/img/legalor-img18.jpg" alt="">
                    </figure>
                    <div class="about-left-banner">
                        <div class="banner-icon">
                            <i aria-hidden="true" class="icon icon-trophy1"></i>
                        </div>
                        <h3>25+ YEARS OF EXPERIENCE</h3>
                    </div>
                    <div class="about-right-banner">
                        <h6 class="banner-title">Office Tour</h6>
                        <div class="video-button">
                            <a id="video-container" data-video-id="IUN664s7N-c">
                                <i class="fas fa-play"></i>
                            </a>
                        </div>
                        <h5 class="info-title">Intro Office Video</h5>
                        <p>
                            Accusantium nunc labore, voluptas, justo, netus diam eros varius mattis maxime ratione aliquet sollicitudin.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <div class="slider-section about-slider">
            <div class="container">
                <div class="client-slider text-center">
                    <div class="client-item">
                        <figure>
                            <img src="assets/img/legalor-img20.png" alt="">
                        </figure>
                    </div>
                    <div class="client-item">
                        <figure>
                            <img src="assets/img/legalor-img21.png" alt="">
                        </figure>
                    </div>
                    <div class="client-item">
                        <figure>
                            <img src="assets/img/legalor-img22.png" alt="">
                        </figure>
                    </div>
                    <div class="client-item">
                        <figure>
                            <img src="assets/img/legalor-img23.png" alt="">
                        </figure>
                    </div>
                    <div class="client-item">
                        <figure>
                            <img src="assets/img/legalor-img24.png" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <!-- About page html end -->
        <!-- about schedule section html start -->
        <section class="home-schedule about-schedule">
            <div class="overlay gradient-overlay"></div>
            <div class="container">
                <div class="schedule-wrapper">
                    <div class="right-side-schedule">
                        <aside class="section-head">
                            <h2 class="section-title">
                                Hire Us For Any Types Of Legal Related Services !
                            </h2>
                            <p class="section-paragraph">
                                Hic voluptatibus asperiores animi vero. Felis ipsum. Gravida aspernatur adipisci mus adipisci ipsam etiam, repellendus aptent aliquam quas, aptent ab curabitu.
                            </p>
                            <div class="timenote">
                                <div class="schedule-time">
                                    <ul>
                                        <li>
                                            <h6>Monday - Friday</h6>
                                        </li>
                                        <li>
                                            <h6>9:00 AM - 6:00 pm</h6>
                                        </li>
                                        <li>
                                            <h6>Sunday & Public Holidays (Closed)</h6>
                                        </li>
                                    </ul>
                                </div>
                                <div class="note-list">
                                    <ul>
                                        <li>
                                            <i aria-hidden="true" class="far fa-check-square"></i>
                                            <span>
                                                Deleniti, aliquid nullam.
                                            </span>
                                        </li>
                                        <li>
                                            <i aria-hidden="true" class="far fa-check-square"></i>
                                            <span>
                                                Nobis auctor aut enim.
                                            </span>
                                        </li>
                                        <li>
                                            <i aria-hidden="true" class="far fa-check-square"></i>
                                            <span>
                                                Porta perferendis, natoque.
                                            </span>
                                        </li>
                                        <li>
                                            <i aria-hidden="true" class="far fa-check-square"></i>
                                            <span>
                                                Dapibus excepteur ullam.
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="schedule-btn">
                                <a href="/contact" class="button-primary">HIRE US NOW!</a>
                            </div>
                        </aside>
                    </div>
                    <div class="left-side-shedule">
                        <div class="goal-wrapper">
                            <div class="circle-progressbar-yellow circle-progressbar" data-animate="false">
                                <div class="circle-bar" data-percent="95">
                                    <div class="circle-number"></div>
                                </div>
                            </div>
                            <h5 class="goal-title">Legal Solution</h5>
                        </div>
                        <div class="goal-wrapper">
                            <div class="circle-progressbar-white circle-progressbar" data-animate="false">
                                <div class="circle-bar" data-percent="98">
                                    <div class="circle-number"></div>
                                </div>
                            </div>
                            <h5 class="goal-title">Project Success</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- footer part -->
<%- include('footer') %>
        