<%- include('header') %>
<main id="content" class="site-main">
    <!-- Inner Banner html start-->
    <section class="inner-banner-wrap">
        <div class="inner-baner-container" style="background-image: url(/images/legalor-img5.jpg);">
            <div class="overlay balance-patten"></div>
            <div class="container">
                <div class="inner-banner-content">
                    <!-- <h1 class="inner-title">Détails du Maître</h1> -->
                </div>
            </div>
        </div>
    </section>
    <!-- Inner Banner html end-->
    <!-- team detail html start -->
    <section class="team-detail-section">
        <div class="container">
            <div class="team-detail-info">
                <div class="row g-0">
                    <div class="col-md-5">
                        <div class="author-img-wrapper">
                            <figure class="team-fig">
                                <img src="/images/legalor-img12.jpg" alt="Maître Mizou NSANDA BILONGO">
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="author-bio-date">
                            <h6 class="author-title">Avocate Associée</h6>
                            <h2 class="author-name">
                                Maître Mizou NSANDA BILONGO
                            </h2>
                            <p class="author-disc">
                                Maître Mizou NSANDA BILONGO est Avocate au barreau de Paris, France. Elle est également 
                                admise au Barreau de Kinshasa - Matete en République Démocratique du Congo. Dans sa 
                                pratique professionnelle, elle intervient dans le secteur des investissements, du commerce 
                                et des ressources naturelles et infrastructures (droit minier et droit des hydrocarbures). 
                                Elle a conseillé de nombreux clients dans ces secteurs d'activités et a publié plusieurs 
                                études liées au droit des affaires de l'OHADA et en droit de ressources naturelles.
                            </p>
                            <div class="author-contact-info">
                                <ul>
                                    <li>
                                        <strong>Adresse e-mail : </strong>
                                        <a href="mailto:cabkin@cabmuamba.org">cabkin@cabmuamba.org</a>
                                    </li>
                                    <li>
                                        <strong>Numéro de téléphone : </strong>
                                        <a href="tel:+243859182858">+243 859 182 858</a>
                                    </li>
                                    <li>
                                        <strong>Barreaux : </strong>
                                        <span>Barreau de Paris (France), Barreau de Kinshasa-Matete (RDC)</span>
                                    </li>
                                    <li>
                                        <strong>Spécialisations : </strong>
                                        <span>Droit OHADA, Transaction Tax, Droit public des affaires, Contrats et marchés publics, PPP, Infrastructures, Fiscalité, Droit minier, Droit des hydrocarbures</span>
                                    </li>
                                    <li>
                                        <strong>Domaines d'expertise : </strong>
                                        <a href="/practice-area-ohada">Droit OHADA</a>,
                                        <a href="/practice-area-mines">Droit Minier</a>,
                                        <a href="/practice-area-detail">Droit des Affaires</a>,
                                        <span>Droit public des affaires</span>,
                                        <span>Fiscalité</span>,
                                        <span>Infrastructures</span>
                                    </li>
                                    <li>
                                        <strong>Expérience internationale : </strong>
                                        <span>France, Afrique, États-Unis</span>
                                    </li>
                                    <li>
                                        <strong>Langues : </strong>
                                        <span>Français, Anglais, Néerlandais</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="qualification">
                                <h5 class="qualification-title">Formation & Diplômes :</h5>
                                <div class="experience-detail">
                                    <h6 class="certificate">
                                        <i aria-hidden="true" class="fas fa-user-graduate"></i>
                                        LLM en droit comparé, California Western School of Law, San Diego, CA, États-Unis
                                    </h6>
                                </div>
                                <div class="experience-detail">
                                    <h6 class="certificate">
                                        <i aria-hidden="true" class="fas fa-graduation-cap"></i>
                                        Master II Police, Sécurité, Droits fondamentaux de la personne, Université Nice - Sophia Antipolis, France
                                    </h6>
                                </div>
                                <div class="experience-detail">
                                    <h6 class="certificate">
                                        <i aria-hidden="true" class="fas fa-graduation-cap"></i>
                                        Master I en droit International, Université Nice - Sophia Antipolis, France
                                    </h6>
                                </div>
                                <div class="experience-detail">
                                    <h6 class="certificate">
                                        <i aria-hidden="true" class="fas fa-graduation-cap"></i>
                                        Licence en droit, Université Paris XIII, Villetaneuse, France
                                    </h6>
                                </div>
                                <div class="experience-detail">
                                    <h6 class="certificate">
                                        <i aria-hidden="true" class="fas fa-graduation-cap"></i>
                                        Diplôme de technicien supérieur en force de ventes, Négocia école de commerce, Paris, France
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="experience-info">
                    <h5 class="experience-heading">Expérience Professionnelle & Expertise :</h5>
                    <ul class="experience-list">
                        <li><strong>Expérience internationale :</strong> Expériences professionnelles en France, en Afrique et aux États-Unis au sein de plusieurs cabinets d'avocats</li>
                        <li><strong>Expertise développée :</strong> Expertise en droit OHADA, Transaction Tax et en droit public des affaires (contrats et marchés publics, PPP, infrastructures, fiscalité)</li>
                        <li><strong>Secteurs d'intervention :</strong> Investissements, commerce, ressources naturelles et infrastructures</li>
                        <li><strong>Spécialisations :</strong> Droit minier et droit des hydrocarbures</li>
                        <li><strong>Conseil :</strong> A conseillé de nombreux clients dans les secteurs des ressources naturelles et infrastructures</li>
                        <li><strong>Publications :</strong> A publié plusieurs études liées au droit des affaires de l'OHADA et en droit de ressources naturelles</li>
                    </ul>
                </div>
                <div class="experience-wrappered row">
                    <div class="col-md-6">
                        <div class="skill-container">
                            <div class="skill-wrapper">
                                <p class="skill-titile">Droit OHADA</p>
                                <div class="progress-wrapper">
                                    <div class="ab-progress example" data-progress data-value="96"></div>
                                    <span class="progress-percent">96%</span>
                                </div>
                            </div>
                            <div class="skill-wrapper">
                                <p class="skill-titile">Droit International</p>
                                <div class="progress-wrapper">
                                    <div class="ab-progress example" data-progress data-value="94"></div>
                                    <span class="progress-percent">94%</span>
                                </div>
                            </div>
                            <div class="skill-wrapper">
                                <p class="skill-titile">Ressources Naturelles</p>
                                <div class="progress-wrapper">
                                    <div class="ab-progress example" data-progress data-value="92"></div>
                                    <span class="progress-percent">92%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="experience-list">
                            <ul>
                                <li>
                                    <i aria-hidden="true" class="fas fa-globe-europe"></i>
                                    Expérience professionnelle internationale (France, Afrique, États-Unis)
                                </li>
                                <li>
                                    <i aria-hidden="true" class="fas fa-balance-scale"></i>
                                    Double admission au barreau de Paris et de Kinshasa-Matete
                                </li>
                                <li>
                                    <i aria-hidden="true" class="fas fa-file-contract"></i>
                                    Expertise en contrats complexes et marchés publics internationaux
                                </li>
                                <li>
                                    <i aria-hidden="true" class="fas fa-oil-well"></i>
                                    Spécialisation en droit des ressources naturelles (minier et hydrocarbures)
                                </li>
                                <li>
                                    <i aria-hidden="true" class="fas fa-language"></i>
                                    Trilingue : Français, Anglais, Néerlandais
                                </li>
                                <li>
                                    <i aria-hidden="true" class="fas fa-book"></i>
                                    Auteure de publications académiques en droit OHADA et ressources naturelles
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <!-- Section Expertise Internationale -->
                <div class="specialization-details-section mt-5">
                    <h5 class="experience-heading">Expertise Internationale Détail :</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="specialization-item">
                                <h6><i class="fas fa-landmark"></i> Droit OHADA & Transaction Tax</h6>
                                <ul>
                                    <li>Droit des affaires OHADA</li>
                                    <li>Fiscalité des transactions internationales</li>
                                    <li>Conformité réglementaire</li>
                                </ul>
                            </div>
                            <div class="specialization-item">
                                <h6><i class="fas fa-building-columns"></i> Droit Public des Affaires</h6>
                                <ul>
                                    <li>Contrats et marchés publics</li>
                                    <li>Partenariats Public-Privé (PPP)</li>
                                    <li>Droit des infrastructures</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="specialization-item">
                                <h6><i class="fas fa-mountain"></i> Ressources Naturelles</h6>
                                <ul>
                                    <li>Droit minier</li>
                                    <li>Droit des hydrocarbures</li>
                                    <li>Investissements dans les ressources</li>
                                </ul>
                            </div>
                            <div class="specialization-item">
                                <h6><i class="fas fa-plane"></i> Pratique Internationale</h6>
                                <ul>
                                    <li>Conseil aux entreprises multinationales</li>
                                    <li>Négociations contractuelles transfrontalières</li>
                                    <li>Arbitrage international</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Section pour voir d'autres avocats -->
                <div class="other-attorneys-section mt-5">
                    <div class="section-header text-center">
                        <h3 class="section-title">Découvrez Notre Équipe</h3>
                        <p class="section-subtitle">Rencontrez les autres membres de notre cabinet</p>
                    </div>
                    <div class="text-center mt-4">
                        <a href="/attorney" class="button-primary">VOIR TOUTE L'ÉQUIPE</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
<%- include('footer') %>