<%- include('header') %>
<main id="content" class="site-main">
    <!-- Inner Banner html start-->
    <section class="inner-banner-wrap">
        <div class="inner-baner-container" style="background-image: url(assets/img/legalor-img50.jpg);">
            <div class="overlay balance-patten"></div>
            <div class="container">
                <div class="inner-banner-content">
                    <h1 class="inner-title">Avocats</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Inner Banner html end-->
    <!-- attorney team page html start -->
    <div class="team-section">
        <div class="container">
            <div class="attorney-team-wrapper">
                <div class="team-item">
                    <figure class="team-img">
                        <img src="/images/j&j maitre vincent.jpg" alt="">
                    </figure>
                    <div class="team-content">
                        <aside class="auhtor-detail">
                            <span class="author-desc">
                                Avocat associé-Gérant
                            </span>
                            <h5 class="author-name">
                                <a href="/attorney-detail">Maître MUYOMBI TSHIMBU Jéthro</a>
                            </h5>
                        </aside>
                        <aside class="author-info">
                            <div class="contact-link">
                                <ul>
                                    <li>
                                        <a href="tel:+243995049719">
                                            <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                            <span class="contact-link-txt">
                                                0995 049 719
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="manyongavincent7@gmail.com">
                                            <i aria-hidden="true" class="fas fa-envelope-open-text"></i>
                                            <span class="contact-link-txt">
                                                manyongavincent7@gmail.com
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="socail-link">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com" target="_blank">
                                            <i class="fab fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com" target="_blank">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com" target="_blank">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.whatsapp.com" target="_blank">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com" target="_blank">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
                <div class="team-item">
                    <figure class="team-img">
                        <img src="/images/j&j maitre john.jpg" alt="">
                    </figure>
                    <div class="team-content">
                        <aside class="auhtor-detail">
                            <span class="author-desc">
                                Avocat en Droit Pénal
                            </span>
                            <h5 class="author-name">
                                <a href="/attorney-detail">John Ngoy Kibambe </a>
                            </h5>
                        </aside>
                        <aside class="author-info">
                            <div class="contact-link">
                                <ul>
                                    <li>
                                        <a href="tel:+243995482416">
                                            <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                            <span class="contact-link-txt">
                                                0995 482 416
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="john.ngoieki@gmail.com">
                                            <i aria-hidden="true" class="fas fa-envelope-open-text"></i>
                                            <span class="contact-link-txt">
                                                john.ngoieki@gmail.com
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="socail-link">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com" target="_blank">
                                            <i class="fab fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com" target="_blank">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com" target="_blank">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.whatsapp.com" target="_blank">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com" target="_blank">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
                <div class="team-item">
                    <figure class="team-img">
                        <img src="/images/j&j maitre daniel.jpg" alt="">
                    </figure>
                    <div class="team-content">
                        <aside class="auhtor-detail">
                            <span class="author-desc">
                                Avocat en Droit des Consommateurs
                            </span>
                            <h5 class="author-name">
                                <a href="/attorney-detail">Daniel Danis Kyungu</a>
                            </h5>
                        </aside>
                        <aside class="author-info">
                            <div class="contact-link">
                                <ul>
                                    <li>
                                        <a href="tel:+243998752477">
                                            <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                            <span class="contact-link-txt">
                                                0998 752 477
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:vigo@domain.com">
                                            <i aria-hidden="true" class="fas fa-envelope-open-text"></i>
                                            <span class="contact-link-txt">
                                                danielkyungu35@gmail.com
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="socail-link">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com" target="_blank">
                                            <i class="fab fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com" target="_blank">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com" target="_blank">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.whatsapp.com" target="_blank">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com" target="_blank">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
                <div class="team-item">
                    <figure class="team-img">
                        <img src="/images/legalor-img27.jpg" alt="">
                    </figure>
                    <div class="team-content">
                        <aside class="auhtor-detail">
                            <span class="author-desc">
                                Avocat en Droit de la Famille
                            </span>
                            <h5 class="author-name">
                                <a href="/attorney-detail">Nitz Kabamba Ngoy</a>
                            </h5>
                        </aside>
                        <aside class="author-info">
                            <div class="contact-link">
                                <ul>
                                    <li>
                                        <a href="tel:+243990183829">
                                            <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                            <span class="contact-link-txt">
                                                0990 183 829
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="kabambanitz@gmail.com">
                                            <i aria-hidden="true" class="fas fa-envelope-open-text"></i>
                                            <span class="contact-link-txt">
                                                kabambanitz@gmail.com
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="socail-link">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com" target="_blank">
                                            <i class="fab fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com" target="_blank">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com" target="_blank">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.whatsapp.com" target="_blank">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com" target="_blank">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
                <div class="team-item">
                    <figure class="team-img">
                        <img src="/images/legalor-img28.jpg" alt="">
                    </figure>
                    <div class="team-content">
                        <aside class="auhtor-detail">
                            <span class="author-desc">
                                Avocat en Droit Pénal
                            </span>
                            <h5 class="author-name">
                                <a href="/attorney-detail">---------------</a>
                            </h5>
                        </aside>
                        <aside class="author-info">
                            <div class="contact-link">
                                <ul>
                                    <li>
                                        <a href="tel:+2439787732100">
                                            <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                            <span class="contact-link-txt">
                                                09787732100
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:vigo@domain.com">
                                            <i aria-hidden="true" class="fas fa-envelope-open-text"></i>
                                            <span class="contact-link-txt">
                                                gerg@domain.com
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="socail-link">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com" target="_blank">
                                            <i class="fab fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com" target="_blank">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com" target="_blank">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.whatsapp.com" target="_blank">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com" target="_blank">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
                <div class="team-item">
                    <figure class="team-img">
                        <img src="/images/legalor-img26.jpg" alt="">
                    </figure>
                    <div class="team-content">
                        <aside class="auhtor-detail">
                            <span class="author-desc">
                                Avocat en Droit des Consommateurs
                            </span>
                            <h5 class="author-name">
                                <a href="/attorney-detail">---------------</a>
                            </h5>
                        </aside>
                        <aside class="author-info">
                            <div class="contact-link">
                                <ul>
                                    <li>
                                        <a href="tel:+2439787732100">
                                            <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                            <span class="contact-link-txt">
                                                09787732100
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:vigo@domain.com">
                                            <i aria-hidden="true" class="fas fa-envelope-open-text"></i>
                                            <span class="contact-link-txt">
                                                scott@domain.com
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="socail-link">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com" target="_blank">
                                            <i class="fab fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com" target="_blank">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com" target="_blank">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.whatsapp.com" target="_blank">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com" target="_blank">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- footer part -->
<%- include('footer') %>