<%- include('header') %>
    <main id="content" class="site-main">
        <!-- Inner Banner html start-->
        <section class="inner-banner-wrap">
            <div class="inner-baner-container" style="background-image: url(/images/o.jethro2.jpg);">
                <div class="overlay balance-patten"></div>
                <div class="container">
                    <div class="inner-banner-content">
                        <!-- <h1 class="inner-title">Détails du Maître</h1> -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Inner Banner html end-->
        <!-- team detail html start -->
        <section class="team-detail-section">
            <div class="container">
                <div class="team-detail-info">
                    <div class="row g-0">
                        <div class="col-md-5">
                            <div class="author-img-wrapper">
                                <figure class="team-fig">
                                    <img src="/images/legalor-img12.jpg" alt="Maître MUYOMBI TSHIMBU Jéthro">
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="author-bio-date">
                                <h6 class="author-title">Avocat associé-Gérant</h6>
                                <h2 class="author-name">
                                    Maître MUYOMBI TSHIMBU Jéthro
                                </h2>
                                <p class="author-disc">
                                    Avocat expérimenté et profondément engagé dans la défense des droits, j'exerce 
                                    avec rigueur, discernement et sens stratégique. Mon approche repose sur une 
                                    analyse juridique approfondie, une écoute attentive des besoins de mes clients et 
                                    la recherche constante de solutions pragmatiques et sécurisées. Animé par les 
                                    valeurs d'intégrité, de transparence et de déontologie, j'accorde une importance 
                                    essentielle à la clarté du conseil et à la qualité de la relation de confiance. Mon 
                                    objectif est d'assurer une défense efficace et personnalisée, tant dans le cadre de la 
                                    négociation que du contentieux, en veillant toujours à préserver les intérêts 
                                    juridiques et humains de mes clients.
                                </p>
                                <div class="author-contact-info">
                                    <ul>
                                        <li>
                                            <strong>Adresse e-mail : </strong>
                                            <a href="mailto:Jethrotshimbu@yahoo.fr">Jethrotshimbu@yahoo.fr</a>
                                        </li>
                                        <li>
                                            <strong>Numéro de téléphone : </strong>
                                            <a href="tel:+243810369919">+243 810 369 919</a>
                                        </li>
                                        <li>
                                            <strong>Spécialités : </strong>
                                            <span>Droit Minier, Droit des Affaires, Droit OHADA, Droit Corporatif</span>
                                        </li>
                                        <li>
                                            <strong>Domaines de pratique : </strong>
                                            <a href="/practice-area-mines">Droit Minier</a>, 
                                            <a href="/practice-area-detail">Droit des Affaires</a>, 
                                            <a href="/practice-area-ohada">Droit OHADA</a>, 
                                            <a href="/practice-area-corporatif">Droit Corporatif</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="qualification">
                                    <h5 class="qualification-title">Qualifications :</h5>
                                    <div class="experience-detail">

                                        <h6 class="certificate">
                                            <i aria-hidden="true" class="fas fa-graduation-cap"></i>
                                            Master en criminologie, option Paix-Gouvernance et Gestion des 
                                            conflits ; à L'Université de Lubumbashi
                                        </h6>
                                    </div>

                                    <div class="experience-detail">

                                        <h6 class="certificate">
                                            <i aria-hidden="true" class="fas fa-graduation-cap"></i>
                                            Licence en Droit, Option Economique et Social ; à L'Université de 
                                            Lubumbashi
                                        </h6>
                                    </div>
                                    <div class="experience-detail">

                                        <h6 class="certificate">
                                            <i aria-hidden="true" class="fas fa-graduation-cap"></i>
                                            Licence en Développement Communautaire, Gestion et 
                                            Administration des Projets ; à L'ISES Lubumbashi
                                        </h6>
                                    </div>
                                    <div class="experience-detail">

                                        <h6 class="certificate">
                                            <i aria-hidden="true" class="fas fa-graduation-cap"></i>
                                            Diplôme d'État en section commerciale et administrative à l'Institut 
                                            technique KALALO
                                        </h6>
                                    </div>

                                    <div class="experience-detail">

                                        <h6 class="certificate">
                                            <i aria-hidden="true" class="fas fa-graduation-cap"></i>
                                            Certificat d'études primaires à l'école Catholique "E.P.A. NDAY"
                                        </h6>
                                    </div>

                                    <div class="experience-detail">
                                        
                                        <h6 class="certificate">
                                            <i aria-hidden="true" class="fas fa-user-graduate"></i>
                                            Doctorant à l'Université de Lubumbashi à la faculté de Droit
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="experience-info">
                    <h5 class="experience-heading">Expériences Professionnelles :</h5>
                    <ul class="experience-list">
                        <li><strong>Avocat à la Cour d'Appel de Kinshasa/Matete</strong></li>
                        <li><strong>Depuis 2023</strong> : Chef des travaux à la Faculté de Droit à l'Université de Lubumbashi</li>
                        <li><strong>2013 - Mai 2017</strong> : Directeur du Département Juridique et Administratif de CHEMAF SARL, Lubumbashi RDC/Zambie (Société Minière - Groupe SHALINA)</li>
                        <li><strong>Depuis Juillet 2017</strong> : Directeur du Département Juridique et Conformité de Luano Grandes Propriétés (LGP S.A.R.L) à Lubumbashi RD Congo</li>
                        <li><strong>Big Manager</strong> de EGMDC-JETH SARL (créé en 2009)</li>
                        <li><strong>Partner Manager</strong> de DG-Consultant SARL depuis 2018</li>
                        <li><strong>Depuis 2013</strong> : Vice-Président du Conseil d'Administration des Orphelinats Méthodiste-Unie / Sud Congo et Zambie</li>
                        <li><strong>Depuis 2018</strong> : Président du Conseil d'Administration de l'École Anglaise de Lubumbashi TESOL (École Américaine de Lubumbashi)</li>
                        <li><strong>Depuis Mars 2021</strong> : Directeur Général de Forum Suscon Société du Groupe Forum Properties Africa Ltd (siège en Afrique du Sud)</li>
                        <li><strong>2010</strong> : Consultant - Coordonnateur des Projets dans la coopérative Allemande I.R.C (RESCUE) à Lubumbashi (6 mois)</li>
                        <li><strong>Depuis Juin 2021</strong> : Président du Conseil d'Administration de APLC</li>
                    </ul>
                </div>
                <div class="experience-wrappered row">
                    <div class="col-md-6">
                        <div class="skill-container">
                            <div class="skill-wrapper">
                                <p class="skill-titile">Affaires Résolues</p>
                                <div class="progress-wrapper">
                                    <div class="ab-progress example" data-progress data-value="95"></div>
                                    <span class="progress-percent">95%</span>
                                </div>
                            </div>
                            <div class="skill-wrapper">
                                <p class="skill-titile">Clients Satisfaits</p>
                                <div class="progress-wrapper">
                                    <div class="ab-progress example" data-progress data-value="85"></div>
                                    <span class="progress-percent">85%</span>
                                </div>
                            </div>
                            <div class="skill-wrapper">
                                <p class="skill-titile">Partenaires Juridiques</p>
                                <div class="progress-wrapper">
                                    <div class="ab-progress example" data-progress data-value="90"></div>
                                    <span class="progress-percent">90%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="experience-list">
                            <ul>
                                <li>
                                    <i aria-hidden="true" class="fas fa-balance-scale"></i>
                                    Excellence juridique reconnue avec un taux de succès exceptionnel
                                </li>
                                <li>
                                    <i aria-hidden="true" class="fas fa-star"></i>
                                    Relation client privilégiée fondée sur la confiance et la transparence
                                </li>
                                <li>
                                    <i aria-hidden="true" class="fas fa-history"></i>
                                    Tradition d'excellence établie depuis plus de 15 ans (2007)
                                </li>
                                <li>
                                    <i aria-hidden="true" class="fas fa-certificate"></i>
                                    Accréditation professionnelle auprès des barreaux congolais
                                </li>
                                <li>
                                    <i aria-hidden="true" class="fas fa-chart-line"></i>
                                    Résultats juridiques mesurables et stratégies gagnantes
                                </li>
                                <li>
                                    <i aria-hidden="true" class="fas fa-lightbulb"></i>
                                    Solutions innovantes adaptées aux spécificités de chaque dossier
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <!-- Section pour voir d'autres avocats -->
                <div class="other-attorneys-section">
                    <div class="section-header text-center">
                        <h3 class="section-title">Découvrez Notre Équipe</h3>
                        <p class="section-subtitle">Rencontrez les autres membres de notre cabinet</p>
                    </div>
                    <div class="text-center mt-4">
                        <a href="/attorney" class="button-primary">VOIR TOUTE L'ÉQUIPE</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- footer part -->
<%- include('footer') %>