<%- include('header') %>
<main id="content" class="site-main">
    <!-- Inner Banner html start-->
    <section class="inner-banner-wrap">
        <div class="inner-baner-container" style="background-image: url(/images/principal1.jpg);">
            <div class="overlay balance-patten"></div>
            <div class="container">
                <div class="inner-banner-content">
                    <!-- <h1 class="inner-title">Avocats</h1> -->
                </div>
            </div>
        </div>
    </section>
    <!-- Inner Banner html end-->
    <!-- attorney team page html start -->
    <div class="team-section">
        <div class="container">
            <div class="attorney-team-wrapper">
                <div class="team-item">
                    <figure class="team-img">
                        <img src="/images/Mejethro.jpg" alt="Maître MUYOMBI TSHIMBU Jéthro">
                    </figure>
                    <div class="team-content">
                        <aside class="auhtor-detail">
                            <span class="author-desc">
                                Avocat associé-Gérant <br>Droit Economique & Social<br>
                            </span>
                            
                            <h5 class="author-name">
                                <a href="/attorney-detail">Maître MUYOMBI TSHIMBU Jéthro</a>
                            </h5>
                        </aside>
                        <aside class="author-info">
                            <div class="contact-link">
                                <ul>
                                    <li>
                                        <a href="tel:+243810369919">
                                            <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                            <span class="contact-link-txt">
                                                +243 810 369 919
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:Jethrotshimbu@yahoo.fr">
                                            <i aria-hidden="true" class="fas fa-envelope-open-text"></i>
                                            <span class="contact-link-txt">
                                                Jethrotshimbu@yahoo.fr
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="socail-link">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com" target="_blank">
                                            <i class="fab fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com" target="_blank">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com" target="_blank">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.whatsapp.com" target="_blank">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com" target="_blank">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>

                <div class="team-item">
                    <figure class="team-img">
                        <img src="/images/Mensanda.jpg" alt="Maître Mizou NSANDA BILONGO">
                    </figure>
                    <div class="team-content">
                        <aside class="auhtor-detail">
                            <span class="author-desc">
                                Avocate Associée <br>Droit OHADA & International<br>
                            </span>
                            <h5 class="author-name">
                                <a href="/attorney-detail-mizou">Maître Mizou NSANDA BILONGO</a>
                            </h5>
                        </aside>
                        <aside class="author-info">
                            <div class="contact-link">
                                <ul>
                                    <li>
                                        <a href="tel:+243859182858">
                                            <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                            <span class="contact-link-txt">
                                                +243 859 182 858
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:cabkin@cabmuamba.org">
                                            <i aria-hidden="true" class="fas fa-envelope-open-text"></i>
                                            <span class="contact-link-txt">
                                                cabkin@cabmuamba.org
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="socail-link">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com" target="_blank">
                                            <i class="fab fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com" target="_blank">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com" target="_blank">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.whatsapp.com" target="_blank">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com" target="_blank">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>

                <div class="team-item">
                    <figure class="team-img">
                        <img src="/images/Mengoy.jpg" alt="Maître NGOY KIBAMBE KABANGE John">
                    </figure>
                    <div class="team-content">
                        <aside class="auhtor-detail">
                            <span class="author-desc">
                                Avocat associé <br>Droit Économique & Social<br>
                            </span>
                            <h5 class="author-name">
                                <a href="/attorney-detail-john">Maître NGOY KIBAMBE KABANGE John</a>
                            </h5>
                        </aside>
                        <aside class="author-info">
                            <div class="contact-link">
                                <ul>
                                    <li>
                                        <a href="tel:+243810648832">
                                            <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                            <span class="contact-link-txt">
                                                +243 810 648 832
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:John.ngoieki@gmail.com">
                                            <i aria-hidden="true" class="fas fa-envelope-open-text"></i>
                                            <span class="contact-link-txt">
                                                John.ngoieki@gmail.com
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="socail-link">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com" target="_blank">
                                            <i class="fab fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com" target="_blank">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com" target="_blank">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.whatsapp.com" target="_blank">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com" target="_blank">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>

                <div class="team-item">
                    <figure class="team-img">
                        <img src="/images/Meolga.jpg" alt="Maître Olga KASONGO">
                    </figure>
                    <div class="team-content">
                        <aside class="auhtor-detail">
                            <span class="author-desc">
                                Avocate collaboratrice <br>Droit privé et judiciaire<br>
                            </span>
                            <h5 class="author-name">
                                <a href="/attorney-detail-olga">Maître Olga KASONGO</a>
                            </h5>
                        </aside>
                        <aside class="author-info">
                            <div class="contact-link">
                                <ul>
                                    <li>
                                        <a href="tel:+243972038147">
                                            <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                            <span class="contact-link-txt">
                                                +243 972 038 147
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:okasongo88@gmail.com">
                                            <i aria-hidden="true" class="fas fa-envelope-open-text"></i>
                                            <span class="contact-link-txt"> 
                                                okasongo88@gmail.com
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="socail-link">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com" target="_blank">
                                            <i class="fab fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com" target="_blank">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com" target="_blank">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.whatsapp.com" target="_blank">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com" target="_blank">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
                
                <div class="team-item">
                    <figure class="team-img">
                        <img src="/images/Medanis.jpg" alt="Maître KYUNGU DANIS Daniel">
                    </figure>
                    <div class="team-content">
                        <aside class="auhtor-detail">
                            <span class="author-desc">
                                Avocat Collaborateur <br>Droit privé et judiciaire<br>
                            </span>
                            <h5 class="author-name">
                                <a href="/attorney-detail-daniel">Maître KYUNGU DANIS Daniel</a>
                            </h5>
                        </aside>
                        <aside class="author-info">
                            <div class="contact-link">
                                <ul>
                                    <li>
                                        <a href="tel:+24398752477">
                                            <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                            <span class="contact-link-txt">
                                                +243 987 524 77
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:danielkyungu35@gmail.com">
                                            <i aria-hidden="true" class="fas fa-envelope-open-text"></i>
                                            <span class="contact-link-txt">
                                                danielkyungu35@gmail.com
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="socail-link">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com" target="_blank">
                                            <i class="fab fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com" target="_blank">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com" target="_blank">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.whatsapp.com" target="_blank">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com" target="_blank">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
                
                <div class="team-item">
                    <figure class="team-img">
                        <img src="/images/Meemma.jpg" alt="Maître Emmanuel MATONGO KABILA">
                    </figure>
                    <div class="team-content">
                        <aside class="auhtor-detail">
                            <span class="author-desc">
                                Avocat Collaborateur <br>Droit de famille et civil<br>
                            </span>
                            <h5 class="author-name">
                                <a href="/attorney-detail-emmanuel">Maître Emmanuel MATONGO KABILA</a>
                            </h5>
                        </aside>
                        <aside class="author-info">
                            <div class="contact-link">
                                <ul>
                                    <li>
                                        <a href="tel:+243999632302">
                                            <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                            <span class="contact-link-txt">
                                                +243 999 632 302
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:emmanuelmatongo9@gmail.com">
                                            <i aria-hidden="true" class="fas fa-envelope-open-text"></i>
                                            <span class="contact-link-txt">
                                                emmanuelmatongo9@gmail.com
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="socail-link">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com" target="_blank">
                                            <i class="fab fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com" target="_blank">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com" target="_blank">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.whatsapp.com" target="_blank">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com" target="_blank">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>

                <div class="team-item">
                    <figure class="team-img">
                        <img src="/images/Menitz.jpg" alt="Maître KABAMBA NGOY Nitz">
                    </figure>
                    <div class="team-content">
                        <aside class="auhtor-detail">
                            <span class="author-desc">
                                Avocat Collaborateur <br>Droit public & Criminologie<br>
                            </span>
                            <h5 class="author-name">
                                <a href="/attorney-detail-seraphin">Maître KABAMBA NGOY Nitz</a>
                            </h5>
                        </aside>
                        <aside class="author-info">
                            <div class="contact-link">
                                <ul>
                                    <li>
                                        <a href="tel:+243990183829">
                                            <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                            <span class="contact-link-txt">
                                                +243 990 183 829
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:kabambanitz@gmail.com">
                                            <i aria-hidden="true" class="fas fa-envelope-open-text"></i>
                                            <span class="contact-link-txt">
                                                kabambanitz@gmail.com
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="socail-link">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com" target="_blank">
                                            <i class="fab fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com" target="_blank">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com" target="_blank">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.whatsapp.com" target="_blank">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com" target="_blank">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- footer part -->
<%- include('footer') %>