<%- include('header') %>
<main id="content" class="site-main">
    <!-- Inner Banner html start-->
    <section class="inner-banner-wrap">
        <div class="inner-baner-container" style="background-image: url(/images/GroupePhoto1.jpg);">
            <div class="overlay balance-patten"></div>
            <div class="container">
                <div class="inner-banner-content">
                    <!-- <h1 class="inner-title">Avocats</h1> -->
                </div>
            </div>
        </div>
    </section>
    <!-- Inner Banner html end-->
    <!-- attorney team page html start -->
    <div class="team-section">
        <div class="container">
            <div class="attorney-team-wrapper">
                <div class="team-item">
                    <figure class="team-img">
                        <img src="/images/o.jethro.jpg" alt="">
                    </figure>
                    <div class="team-content">
                        <aside class="auhtor-detail">
                            <span class="author-desc">
                                Avocat associé-Gérant <br>Droit Economique & Social<br>
                            </span>
                            
                            <h5 class="author-name">
                                <a href="/attorney-detail">Maître MUYOMBI TSHIMBU Jéthro</a>
                            </h5>
                        </aside>
                        <aside class="author-info">
                            <div class="contact-link">
                                <ul>
                                    <li>
                                        <a href="tel:+243810369919 ">
                                            <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                            <span class="contact-link-txt">
                                                +243810369919 
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="Jethrotshimbu@yahoo.fr">
                                            <i aria-hidden="true" class="fas fa-envelope-open-text"></i>
                                            <span class="contact-link-txt">
                                                Jethrotshimbu@yahoo.fr
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="socail-link">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com" target="_blank">
                                            <i class="fab fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com" target="_blank">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com" target="_blank">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.whatsapp.com" target="_blank">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com" target="_blank">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>

                <div class="team-item">
                    <figure class="team-img">
                        <img src="/images/m.john.jpg" alt="">
                    </figure>
                    <div class="team-content">
                        <aside class="auhtor-detail">
                            <span class="author-desc">
                                Avocat associé <br>Droit Economique & Social<br>
                            </span>
                            <h5 class="author-name">
                                <a href="/attorney-detail">Maître NGOY KIBAMBE KABANGE John</a>
                            </h5>
                        </aside>
                        <aside class="author-info">
                            <div class="contact-link">
                                <ul>
                                    <li>
                                        <a href="tel:+243810648832">
                                            <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                            <span class="contact-link-txt">
                                                +243810648832
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="John.ngoieki@gmail.com">
                                            <i aria-hidden="true" class="fas fa-envelope-open-text"></i>
                                            <span class="contact-link-txt">
                                                John.ngoieki@gmail.com
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="socail-link">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com" target="_blank">
                                            <i class="fab fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com" target="_blank">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com" target="_blank">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.whatsapp.com" target="_blank">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com" target="_blank">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>

                <div class="team-item">
                    <figure class="team-img">
                        <img src="/images/m.olga.jpg" alt="">
                    </figure>
                    <div class="team-content">
                        <aside class="auhtor-detail">
                            <span class="author-desc">
                                Avocate collaboratrice <br>Droit privé et judiciaire<br>
                            </span>
                            <h5 class="author-name">
                                <a href="/attorney-detail">Maître Olga KASONGO</a>
                            </h5>
                        </aside>
                        <aside class="author-info">
                            <div class="contact-link">
                                <ul>
                                    <li>
                                        <a href="tel:+243972038147">
                                            <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                            <span class="contact-link-txt">
                                                +243972038147
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="okasongo88@gmail.com">
                                            <i aria-hidden="true" class="fas fa-envelope-open-text"></i>
                                            <span class="contact-link-txt"> 
                                                okasongo88@gmail.com
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="socail-link">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com" target="_blank">
                                            <i class="fab fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com" target="_blank">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com" target="_blank">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.whatsapp.com" target="_blank">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com" target="_blank">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
                <div class="team-item">
                    <figure class="team-img">
                        <img src="/images/m.daniel.jpg" alt="">
                    </figure>
                    <div class="team-content">
                        <aside class="auhtor-detail">
                            <span class="author-desc">
                                Avocat Collaborateur <br>Droit privé et judiciaire (les voies et exécutions civiles)<br>
                            </span>
                            <h5 class="author-name">
                                <a href="/attorney-detail">Maître KYUNGU DANIS Daniel</a>
                            </h5>
                        </aside>
                        <aside class="author-info">
                            <div class="contact-link">
                                <ul>
                                    <li>
                                        <a href="tel:+243998752477">
                                            <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                            <span class="contact-link-txt">
                                                +24398752477
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:vigo@domain.com">
                                            <i aria-hidden="true" class="fas fa-envelope-open-text"></i>
                                            <span class="contact-link-txt">
                                                danielkyungu35@gmail.com
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="socail-link">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com" target="_blank">
                                            <i class="fab fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com" target="_blank">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com" target="_blank">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.whatsapp.com" target="_blank">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com" target="_blank">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
                <div class="team-item">
                    <figure class="team-img">
                        <img src="/images/m.emmanuel.jpg" alt="">
                    </figure>
                    <div class="team-content">
                        <aside class="auhtor-detail">
                            <span class="author-desc">
                                Avocat Collaborateur <br>Droit de famille : Mariage, Divorce, Tutelle<br>
                            </span>
                            <h5 class="author-name">
                                <a href="/attorney-detail">Maître Emmanuel MATONGO KABILA </a>
                            </h5>
                        </aside>
                        <aside class="author-info">
                            <div class="contact-link">
                                <ul>
                                    <li>
                                        <a href="tel:+243999632302">
                                            <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                            <span class="contact-link-txt">
                                                +243999632302
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="emmanuelmatongo9@gmail.com">
                                            <i aria-hidden="true" class="fas fa-envelope-open-text"></i>
                                            <span class="contact-link-txt">
                                                emmanuelmatongo9@gmail.com
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="socail-link">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com" target="_blank">
                                            <i class="fab fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com" target="_blank">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com" target="_blank">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.whatsapp.com" target="_blank">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com" target="_blank">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>

                <div class="team-item">
                    <figure class="team-img">
                        <img src="/images/m.kabamba.jpg" alt="">
                    </figure>
                    <div class="team-content">
                        <aside class="auhtor-detail">
                            <span class="author-desc">
                                Avocat Collaborateur <br>Droit public<br>
                            </span>
                            <h5 class="author-name">
                                <a href="/attorney-detail">Maître KABAMBA NGOY Nitz</a>
                            </h5>
                        </aside>
                        <aside class="author-info">
                            <div class="contact-link">
                                <ul>
                                    <li>
                                        <a href="tel:+243990183829">
                                            <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                            <span class="contact-link-txt">
                                                +243990183829
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="kabambanitz@gmail.com">
                                            <i aria-hidden="true" class="fas fa-envelope-open-text"></i>
                                            <span class="contact-link-txt">
                                                kabambanitz@gmail.com
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="socail-link">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com" target="_blank">
                                            <i class="fab fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com" target="_blank">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com" target="_blank">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.whatsapp.com" target="_blank">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com" target="_blank">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- footer part -->
<%- include('footer') %>