<%- include('header') %>
    <main id="content" class="site-main">
        <!-- Inner Banner html start-->
        <section class="inner-banner-wrap">
            <div class="inner-baner-container" style="background-image: url(/images/contact.jpg);">
                <div class="overlay balance-patten"></div>
                <div class="container">
                    <div class="inner-banner-content">
                        <!-- <h1 class="inner-title">Contact</h1> -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Inner Banner html end-->
        <!-- contact form html start -->
        <div class="contact-page-section">
            <div class="container">
                <div class="map-section">
                    <iframe src="https://www.google.co.za/maps/place/Cabinet+d'avocats+-+Pierre+F%C3%A9lix+Kandolo/@-11.666668,27.47871,18.22z/data=!4m15!1m8!3m7!1s0x19723ec07d27e9d7:0x7459ea1c995cbe6!2s701+Av.+Kasa+Vubu,+Lubumbashi,+Democratic+Republic+of+the+Congo!3b1!8m2!3d-11.6666321!4d27.4798415!16s%2Fg%2F11j6r9_z0h!3m5!1s0x19723f1f158e6cf3:0xdf216b97c2b10e9b!8m2!3d-11.6666321!4d27.4798415!16s%2Fg%2F11y3yjwltp?hl=en&entry=ttu" height="400" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div class="contact-form-inner">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="contact-detail-container">
                                <div class="section-head">
                                    <h2 class="section-title">N'hésitez pas à nous contacter !</h2>
                                    <div class="section-disc">
                                        <p>
                                            Nous sommes là pour vous accompagner dans vos démarches juridiques. Une question, un projet, un litige ? Échangeons dès maintenant pour trouver la meilleure solution pour vous
                                        </p>
                                    </div>
                                </div>
                                <div class="contact-details-list">
                                    <ul>
                                        <li>
                                            <span class="icon">
                                                <i aria-hidden="true" class="icon icon-phone1"></i>
                                            </span>
                                            <div class="details-content">
                                                <h5>Numéros de téléphone :</h5>
                                                <span><a href="tel:+243 995482416">Siège Social  : +243 995482416</a></span>
                                                <span><a href="tel:+243 810369919">Bureau Annexe : +243 810369919</a></span>
                                                <span><a href="tel:+243 990183829">Bureau Annexe : +243 990183829</a></span>
                                                <span><a href="tel:+243 815113335">Bureau Annexe : +243 815113335</a></span>
                                                <span><a href="tel:+243 810648832">Bureau Annexe : +243 810648832</a></span>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="icon">
                                                <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                            </span>
                                            <div class="details-content">
                                                <h5>Adresses des Lieux :</h5>
                                                <span>Adresse Kinshasa : nᵒ 148/A, Blvd du 30 Juin, Gombe, 4ᵉ étage, Immeuble LUXURY TOWER</span>
                                                <span>Adresse Lubumbashi : nᵒ 701, av. Kasavubu, Bâtiment Léopold, Quartier Makutano, Lubumbashi</span>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="icon">
                                                <i aria-hidden="true" class="icon icon-envelope3"></i>
                                            </span>
                                            <div class="details-content">
                                                <h5>Adresse mail :</h5>
                                                <span><a href="mailto:domain123@gmail.com">lawfirmjetj@gmail.com</a></span>
                                                <!-- <span><a href="mailto:domain123@gmail.com">lawfirmjetj@gmail.com</a></span> -->
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="contact-from-wrap">
                                <form method="post" action="/contact" class="contact-form">
                                    <p>
                                        <input type="text" name="name" placeholder="Nom">
                                    </p>
                                    <p>
                                        <input type="email" name="email" placeholder="Email*">
                                    </p>
                                    <p>
                                        <input type="text" name="subject" placeholder="Sujet*">
                                    </p>
                                    <p>
                                        <input type="number" name="name" placeholder="Téléphone*">
                                    </p>
                                    <p class="width-full">
                                        <textarea rows="8" placeholder="Votre message*"></textarea>
                                    </p>
                                    <p class="width-full">
                                        <input type="submit" name="submit" value="Envoyer">
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- contact form html end -->
    </main>
    <!-- footer part -->
<%- include('footer') %>