<%- include('header') %>
    <main id="content" class="site-main">
        <!-- Inner Banner html start-->
        <section class="inner-banner-wrap">
            <div class="inner-baner-container" style="background-image: url(assets/img/legalor-img50.jpg);">
                <div class="overlay balance-patten"></div>
                <div class="container">
                    <div class="inner-banner-content">
                        <h1 class="inner-title">FAQ</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- Inner Banner html end-->
        <!--  faQ detail section html start -->
        <div class="faq-page-section">
            <div class="container">
                <div class="faq-page-container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="faq-right-info">
                                <div class="section-head">
                                    <h2 class="section-title">
                                        Questions Fréquemment Posées
                                    </h2>
                                    <p class="section-paragraph">
                                        Chez J&J Law Firm, nous comprenons que vous avez des questions importantes concernant vos droits légaux et nos services. C’est pourquoi nous avons compilé cette liste de questions fréquemment posées pour vous fournir des réponses claires et précises. Si vous avez besoin de plus d’informations ou si vous ne trouvez pas la réponse à votre question, n’hésitez pas à nous contacter directement. Nous sommes ici pour vous aider. <br>
                                        Si vous avez des préférences spécifiques ou des modifications à apporter, faites-le moi savoir !
                                    </p>
                                </div>
                                <div id="accordion-tab-one" class="accordion-content" role="tablist">
                                    <div id="accordion-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="accordion-A">
                                        <div class="card-header" role="tab" id="qus-A">
                                            <h5 class="mb-0">
                                                <a data-bs-toggle="collapse" href="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                                                    Quel est notre objectif principal ?
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-one" class="collapse show" data-bs-parent="#accordion-tab-one" role="tabpanel" aria-labelledby="qus-A">
                                            <div class="card-body">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                                            </div>
                                        </div>
                                    </div>
                                    <div id="accordion-B" class="card tab-pane" role="tabpanel" aria-labelledby="accordion-B">
                                        <div class="card-header" role="tab" id="qus-B">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-bs-toggle="collapse" href="#collapse-two" aria-expanded="false" aria-controls="collapse-two">
                                                    Que vous offrons-nous ?
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-two" class="collapse" data-bs-parent="#accordion-tab-one" role="tabpanel" aria-labelledby="qus-B">
                                            <div class="card-body">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                                            </div>
                                        </div>
                                    </div>
                                    <div id="accordion-C" class="card tab-pane" role="tabpanel" aria-labelledby="accordion-C">
                                        <div class="card-header" role="tab" id="qus-C">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-bs-toggle="collapse" href="#collapse-three" aria-expanded="true" aria-controls="collapse-three">
                                                    Comment prenons-nous en charge votre problème ?
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-three" class="collapse" data-bs-parent="#accordion-tab-one" role="tabpanel" aria-labelledby="qus-C">
                                            <div class="card-body">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                                            </div>
                                        </div>
                                    </div>
                                    <div id="accordion-D" class="card tab-pane" role="tabpanel" aria-labelledby="accordion-D">
                                        <div class="card-header" role="tab" id="qus-D">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-bs-toggle="collapse" href="#collapse-four" aria-expanded="true" aria-controls="collapse-four">
                                                    Quels services recevrez-vous de notre part ?
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-four" class="collapse" data-bs-parent="#accordion-tab-one" role="tabpanel" aria-labelledby="qus-D">
                                            <div class="card-body">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="qsn-form-container">
                                <div class="section-head-white text-center">
                                    <h4 class="section-title">Vous avez encore des questions ?</h4>
                                    <p class="section-paragraph">
                                        Remplissez le formulaire ci-dessous, et nous vous répondrons dans les plus brefs délais.
                                    </p>
                                </div>
                                <form>
                                    <p>
                                        <input type="text" name="name" placeholder="Votre Nom*">
                                    </p>
                                    <p>
                                        <input type="email" name="email" placeholder="Votre E-mail*">
                                    </p>
                                    <p>
                                        <input type="number" name="number" placeholder="Numéro de Mobile*">
                                    </p>
                                    <p>
                                        <textarea rows="8" placeholder="Entrez votre message*"></textarea>
                                    </p>
                                    <p>
                                        <input type="submit" class="button-white-border" name="submit" value="ENVOYER LES QUESTIONS">
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="faq-page-container">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="faq-testimonial">
                                <figure class="faq-image">
                                    <div class="overlay rise-sun-patten"></div>
                                    <img src="assets/img/legalor-img025.png" alt="">
                                </figure>
                                <div class="testimonial-content">
                                    <span class="quote-icon">
                                        <i class="fas fa-quote-left"></i>
                                    </span>
                                    <p>
                                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo."
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="faq-content-wrap">
                                <div class="section-head">
                                    <h2 class="section-title">Ce que nous faisons et nos avantages !</h2>
                                    <p class="section-paragraph">
                                        Hic voluptatibus asperiores animi vero. Felis ipsum. Gravida aspernatur adipisci mus adipisci ipsam etiam, repellendus aptent aliquam quas, aptent ab. Delectus architecto officia maecenas fuga. Primis quibusdam eros, duis, curabitur alias.
                                    </p>
                                </div>
                                <div id="accordion-tab-two" class="accordion-content" role="tablist">
                                    <div id="accordion-F" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="accordion-F">
                                        <div class="card-header" role="tab" id="qus-F">
                                            <h5 class="mb-0">
                                                <a data-bs-toggle="collapse" href="#collapse-six" aria-expanded="true" aria-controls="collapse-six">
                                                    Comment gérons-nous nos clients ?
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-six" class="collapse show" data-bs-parent="#accordion-tab-two" role="tabpanel" aria-labelledby="qus-F">
                                            <div class="card-body">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                                            </div>
                                        </div>
                                    </div>
                                    <div id="accordion-G" class="card tab-pane" role="tabpanel" aria-labelledby="accordion-G">
                                        <div class="card-header" role="tab" id="qus-G">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-bs-toggle="collapse" href="#collapse-seven" aria-expanded="false" aria-controls="collapse-seven">
                                                    Quel meilleur avantage obtiendrez-vous ?
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-seven" class="collapse" data-bs-parent="#accordion-tab-two" role="tabpanel" aria-labelledby="qus-G">
                                            <div class="card-body">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                                            </div>
                                        </div>
                                    </div>
                                    <div id="accordion-H" class="card tab-pane" role="tabpanel" aria-labelledby="accordion-H">
                                        <div class="card-header" role="tab" id="qus-H">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-bs-toggle="collapse" href="#collapse-eight" aria-expanded="true" aria-controls="collapse-eight">
                                                    Offrons-nous des services abordables ?
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-eight" class="collapse" data-bs-parent="#accordion-tab-two" role="tabpanel" aria-labelledby="qus-H">
                                            <div class="card-body">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                                            </div>
                                        </div>
                                    </div>
                                    <div id="accordion-I" class="card tab-pane" role="tabpanel" aria-labelledby="accordion-I">
                                        <div class="card-header" role="tab" id="qus-I">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-bs-toggle="collapse" href="#collapse-nine" aria-expanded="true" aria-controls="collapse-nine">
                                                    Quel est l'objectif principal de nos services ?
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-nine" class="collapse" data-bs-parent="#accordion-tab-two" role="tabpanel" aria-labelledby="qus-I">
                                            <div class="card-body">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- footer part -->
<%- include('footer') %>