<%- include('header') %>
    <main id="content" class="site-main">
        <!-- Inner Banner html start-->
        <section class="inner-banner-wrap">
            <div class="inner-baner-container" style="background-image: url(assets/img/legalor-img50.jpg);">
                <div class="overlay balance-patten"></div>
                <div class="container">
                    <div class="inner-banner-content">
                        <h1 class="inner-title">Features</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- Inner Banner html end-->
        <!-- feature page html start -->
        <section class="feature-section">
            <div class="container">
                <div class="featuer-service-content">
                    <div class="serice-type">
                        <a href="single-page.html">
                            <h5 class="service-header">
                                Govt. Certified
                            </h5>
                            <figure class="servie-icon">
                                <i aria-hidden="true" class="icon icon-Profile"></i>
                            </figure>
                            <p class="service-desc">
                                Habitant mollit penatibus nullam archite ipsum
                            </p>
                        </a>
                    </div>
                    <div class="serice-type active">
                        <a href="single-page.html">
                            <h5 class="service-header">
                                Expert Attorney
                            </h5>
                            <figure class="servie-icon">
                                <i aria-hidden="true" class="icon icon-Rating"></i>
                            </figure>
                            <p class="service-desc">
                                Habitant mollit penatibus nullam archite ipsum
                            </p>
                        </a>
                    </div>
                    <div class="serice-type">
                        <a href="single-page.html">
                            <h5 class="service-header">
                                Affordable Price
                            </h5>
                            <figure class="servie-icon">
                                <i aria-hidden="true" class="icon icon-save-money"></i>
                            </figure>
                            <p class="service-desc">
                                Habitant mollit penatibus nullam archite ipsum
                            </p>
                        </a>
                    </div>
                    <div class="serice-type">
                        <a href="single-page.html">
                            <h5 class="service-header">
                                Very Friendly
                            </h5>
                            <figure class="servie-icon">
                                <i aria-hidden="true" class="icon icon-handshake"></i>
                            </figure>
                            <p class="service-desc">
                                Habitant mollit penatibus nullam archite ipsum
                            </p>
                        </a>
                    </div>
                    <div class="serice-type">
                        <a href="single-page.html">
                            <h5 class="service-header">
                                Best Legal Advice
                            </h5>
                            <figure class="servie-icon">
                                <i aria-hidden="true" class="icon icon-justice"></i>
                            </figure>
                            <p class="service-desc">
                                Habitant mollit penatibus nullam archite ipsum
                            </p>
                        </a>
                    </div>
                    <div class="serice-type">
                        <a href="single-page.html">
                            <h5 class="service-header">
                                Best Legal Advice
                            </h5>
                            <figure class="servie-icon">
                                <i aria-hidden="true" class="fas fa-graduation-cap"></i>
                            </figure>
                            <p class="service-desc">
                                Habitant mollit penatibus nullam archite ipsum
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- feature working operation html -->
        <section class="featuer-working-operation">
            <div class="container">
                <div class="working-operation-wrapper">
                    <div class="operation-info">
                        <div class="section-head">
                            <h2 class="section-title">
                                Do Things A Bit Differently
                            </h2>
                            <p class="section-paragraph">
                                Placerat fusce imperdiet turpis lacus consequat mauris nostrum, scelerisque, non ipsa quidem iure doloremque, ad at risus aperiam minim
                            </p>
                            <div class="section-btn">
                                <a href="single-page.html" class="button-primary">LEARN MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="operation-chart">
                        <div class="goal-wrapper">
                            <div class="circle-progressbar-dark circle-progressbar" data-animate="false">
                                <div class="circle-bar" data-percent="97">
                                    <div class="circle-number"></div>
                                </div>
                            </div>
                            <h5 class="goal-title">Consulting</h5>
                            <span class="goal-info">
                                Earum nibh, odio mag nam nec laborum opti.
                            </span>
                        </div>
                        <div class="goal-wrapper">
                            <div class="circle-progressbar-dark circle-progressbar" data-animate="false">
                                <div class="circle-bar" data-percent="94">
                                    <div class="circle-number"></div>
                                </div>
                            </div>
                            <h5 class="goal-title">Solution</h5>
                            <span class="goal-info">
                                Earum nibh, odio mag nam nec laborum opti.
                            </span>
                        </div>
                        <div class="goal-wrapper">
                            <div class="circle-progressbar-dark circle-progressbar" data-animate="false">
                                <div class="circle-bar" data-percent="98">
                                    <div class="circle-number"></div>
                                </div>
                            </div>
                            <h5 class="goal-title">Success</h5>
                            <span class="goal-info">
                                Earum nibh, odio mag nam nec laborum opti.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- footer part -->
<%- include('footer') %>
        