<footer id="colophon" class="site-footer">
    <div class="top-footer">
        <div class="footer-overlay overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <aside class="widget widget_text img-textwidget primary-bg">
                        <div class="footer-logo">
                            <a href="/index">
                                <img src="/images/J&J logo white.svg" alt="logo">
                            </a>
                        </div>
                        <div class="textwidget widget-text">
                            Voluptatum penatibus dis eligendi quasi suscipit voluptas, massa quasi duis elit quas volutpat animi.
                        </div>
                        <div class="footer-locate-link">
                            <ul>
                                <li>
                                    <i aria-hidden="true" class="fas fa-map-pin"></i>
                                    <span class="locate-txt">
                                        701 Kasa Vubu, Lubumbashi
                                    </span>
                                </li>
                                <li>
                                    <a href="tel:+1456657887">
                                        <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                        <span class="locate-txt">
                                            +243(999)009-319
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:info@domain.com">
                                        <i aria-hidden="true" class="fas fa-envelope"></i>
                                        <span class="locate-txt">
                                            info@domain.com
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <aside class="widget">
                        <h5 class="widget-title">usefull link</h5>
                        <ul class="widget-underline">
                            <li>
                                <a href="/about">About us</a>
                            </li>
                            <li>
                                <a href="/Contact">Help Center</a>
                            </li>
                            <li>
                                <a href="/legal-notice">Legal Notice</a>
                            </li>
                        </ul>
                    </aside>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <aside class="widget">
                        <h5 class="widget-title">Resources</h5>
                        <ul>
                            <li>
                                <a href="/attorney">Attorney</a>
                            </li>
                            <li>
                                <a href="/practice-area">Practise Areas</a>
                            </li>
                            <li>
                                <a href="/feature">Law Advice</a>
                            </li>
                        </ul>
                    </aside>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <aside class="widget news-widget">
                        <h5 class="widget-title">Subscribe Newsletter</h5>
                        <div class="textwidget widget-text">
                            Sem quidem convallis ipsa iusto tempore sapiente, corporis! Sagittis etiam.
                        </div>
                        <form class="footer-email-form">
                            <input type="email" name="email" placeholder="Enter your Email.">
                            <button type="submit" class="footer-email-btn">
                                <i aria-hidden="true" class="fas fa-paper-plane"></i>
                            </button>
                        </form>
                        <div class="footer-social-links">
                            <p>Follow on social media :</p>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" target="_blank">
                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="fab fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/" target="_blank">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <div class="copy-right">Copyright &copy; 2024 J&J LAW FIRM. All rights reserved.</div>
        </div>
    </div>
</footer>
<!-- back to top -->
<a id="backTotop" href="#" class="to-top-icon">
    <i class="fas fa-chevron-up"></i>
</a>
<!-- custom search field html -->
<div class="header-search-form">
    <div class="container">
        <div class="header-search-container">
            <form class="search-form" role="search" method="get">
                <input type="text" name="s" placeholder="Enter your text...">
            </form>
            <a href="#" class="search-close">
                <i class="fas fa-times"></i>
            </a>
        </div>
    </div>
</div>
</div>
<!-- JavaScript -->
<script src="/vendors/jquery/jquery.js"></script>
<script src="/vendors/waypoint/jquery.waypoints.min.js"></script>
<script src="/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendors/jquery-ui/jquery-ui.min.js"></script>
<script src="/vendors/progressbar-fill-visible/js/progressBar.min.js"></script>
<script src="/vendors/circle-progress/circle-progress.min.js"></script>
<script src="/vendors/countdown-date-loop-counter/loopcounter.js"></script>
<script src="/vendors/counterup/jquery.counterup.js"></script>
<script src="/vendors/modal-video/jquery-modal-video.min.js"></script>
<script src="/vendors/masonry/masonry.pkgd.min.js"></script>
<script src="/vendors/isotope/isotope.pkgd.min.js"></script>
<script src="/vendors/fancybox/dist/jquery.fancybox.min.js"></script>
<script src="/vendors/slick/slick.min.js"></script>
<script src="/vendors/slick-nav/jquery.slicknav.js"></script>
<script src="/js/custom.js"></script>
</body>

</html>