<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="icon" type="image/png" href="/images/J&J law firm official logo white favicon (4).png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/vendors/bootstrap/css/bootstrap.min.css" media="all">
    <!-- Fonts Awesome CSS -->
    <link rel="stylesheet" type="text/css" href="/vendors/fontawesome/css/all.min.css">
    <!-- Elmentkit Icon CSS -->
    <link rel="stylesheet" type="text/css" href="/vendors/elementskit-icon-pack/assets/css/ekiticons.css">
    <!-- progress bar CSS -->
    <link rel="stylesheet" type="text/css" href="/vendors/progressbar-fill-visible/css/progressBar.css">
    <!-- jquery-ui css -->
    <link rel="stylesheet" type="text/css" href="/vendors/jquery-ui/jquery-ui.min.css">
    <!-- modal video css -->
    <link rel="stylesheet" type="text/css" href="/vendors/modal-video/modal-video.min.css">
    <!-- light box css -->
    <link rel="stylesheet" type="text/css" href="/vendors/fancybox/dist/jquery.fancybox.min.css">
    <!-- slick slider css -->
    <link rel="stylesheet" type="text/css" href="/vendors/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="/vendors/slick/slick-theme.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>J&J LAW FIRM</title>
</head>

<body class="home">
    <div id="siteLoader" class="site-loader ">
        <div class="preloader-content">
            <img src="/images/loader1.gif" alt="">
        </div>
    </div>
    <div id="page" class="full-page">
        <!-- header html start -->
        <header class="site-header site-header-transparent" id="masthead">
            <!-- header html start -->
            <div class="top-header">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-5 d-flex justify-content-md-start justify-content-center">
                            <div class="header-schedule-info">
                                <i aria-hidden="true" class="icon icon-chat"></i>
                                <span class="schedule-info">
                                    Need Consultation?
                                    <a href="/reservation">Book Schedule Now</a>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-7 d-flex justify-content-md-end justify-content-between align-items-center">
                            <div class="legal-list">
                                <ul>
                                    <li> <a href="/blog-archive">Company News</a></li>
                                    <li> <a href="/faq">Faqs</a></li>
                                    <li> <a href="/legal-notice">Policy</a></li>
                                </ul>
                            </div>
                            <div class="header-social social-links">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com" target="_blank">
                                            <i class="fab fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com" target="_blank">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com" target="_blank">
                                            <i class="fab fa-youtube" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com" target="_blank">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com" target="_blank">
                                            <i class="fab fa-linkedin" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-header">
                <div class="container">
                    <div class="hb-group d-flex align-items-center justify-content-between">
                        <div class="site-identity col-lg-2">
                            <p class="site-title">
                                <a href="/index">
                                    <img src="/images/J&J logo white.svg" alt="logo">
                                </a>
                            </p>
                        </div>
                        <div class="main-navigation col-lg-10 justify-content-end d-flex align-items-center">
                            <nav id="navigation" class="navigation d-none d-lg-inline-block">
                                <ul>
                                    <li class="current-menu-item">
                                        <a href="/">Home</a>
                                    </li>
                                    <li>
                                        <a href="/about">About us</a>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Learn more</a>
                                        <ul>
                                            <li>
                                                <a href="/practice-area">PRACTICE AREA</a>
                                            </li>
                                            <li>
                                                <a href="/attorney">ATTORNEYS</a>
                                            </li>
                                            <li>
                                                <a href="/attorney-detail">ATTORNEY DETAIL</a>
                                            </li>
                                            <li>
                                                <a href="/faq">FAQs</a>
                                            </li>
                                            <li>
                                                <a href="/legal-notice">Legal Notice</a>
                                            </li>
                                            <li>
                                                <a href="/reservation">Reservation</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/contact">Contact</a>
                                    </li>
                                </ul>                                
                            </nav>
                            <div class="bottom-sub-menu d-flex align-items-center">
                                <div class="header-search-icon">
                                    <button class="search-icon">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                <div class="header-contact-info">
                                    <a href="tel:+243999009319">
                                        <div class="header-contact-inner">
                                            <span class="icon">
                                                <i aria-hidden="true" class="icon icon-phone1"></i>
                                            </span>
                                            <div class="details-content">
                                                <span class="content-title">TALK TO AN EXPERT !</span>
                                                <h6>+243 (999) 009-319</h6>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="more-about-ceo">
                                    <button class="openbtn" onclick="openNav()">
                                        <i aria-hidden="true" class="icon icon-menu-11"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mobile-menu-container"></div>
            </div>
            <section class="sidebar-section" id="attorneySidepannel">
                <div class="sidebar-content" id="attorneySidepannelchild">
                    <div class="sidebar-close-section">
                        <button class="close-btn" onclick="closeNav()">
                            <i aria-hidden="true" class="fas fa-times"></i>
                        </button>
                    </div>
                    <div class="sub-section-detail">
                        <h6 class="head-title">
                            Our Head Attorney
                        </h6>
                        <figure class="attorney-image">
                            <img src="/images/j&j maitre jethro.jpg" alt="">
                        </figure>
                        <h5 class="attorney-name">
                            Jethro Muyombi
                        </h5>
                        <p class="attorney-des">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                        </p>
                        <div class="social-links">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com" target="_blank">
                                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com" target="_blank">
                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com" target="_blank">
                                        <i class="fab fa-youtube" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com" target="_blank">
                                        <i class="fab fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com" target="_blank">
                                        <i class="fab fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sub-section-detail">
                        <h6 class="head-title">
                            Our Head Attorney
                        </h6>
                        <p>Don’t hesitate to contact and reach us !</p>
                        <div class="contact-info">
                            <ul>
                                <li>
                                    <span>Ancienne Galeries Presidencielle RCM , kinshasa Gombe </span>
                                </li>
                                <li>
                                    <span>Phone No :
                                        <a href="tel=+243999009319">+243 999 009 319</a>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <a href="lawfirmjetj@gmail.com">lawfirmjetj@gmail.com</a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </header>
        <main id="content" class="site-main">
            <!-- home banner section html start -->
            <section class="home-banner">
                <div class="overlay overlay-balance"></div>
                <div class="container">
                    <div class="row align-items-center g-0">
                        <div class="col-lg-6 col-md-6">
                            <div class="banner-detail">
                                <h2 class="banner-title">
                                    WE ARE A SPECIALIZED LAW FIRM
                                </h2>
                                <p class="banner-info">
                                    focusing on mining, business, immigration, media, labor,
                                    telecommunications, Intellectual Property & Construction law.
                                    Weadvise clients on the financing,exploitation and protection of their
                                    creative and commercial assets in these sectors.
                                </p>
                                <div class="banner-btn-wrapper">
                                    <a href="/reservation" class="button-primary">MAKE AN APPOINTMENT</a>
                                    <a href="/about" class="button-white">LEARN MORE</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <figure class="banner-img">
                                <div class="banner-overlay-img overlay"></div>
                                <img src="images/jethro profile.png" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="banner-service-content">
                        <div class="serice-type">
                            <a href="#">
                                <h5 class="service-header">
                                    Officially accredited
                                </h5>
                                <figure class="servie-icon">
                                    <i aria-hidden="true" class="icon icon-Profile"></i>
                                </figure>
                                <p class="service-desc">
                                    Officially certified by government accreditation
                                </p>
                            </a>
                        </div>
                        <div class="serice-type active">
                            <a href="#">
                                <h5 class="service-header">
                                    Legal specialist
                                </h5>
                                <figure class="servie-icon">
                                    <i aria-hidden="true" class="icon icon-Rating"></i>
                                </figure>
                                <p class="service-desc">
                                    Providing expert legal solutions efficiently .
                                </p>
                            </a>
                        </div>
                        <div class="serice-type">
                            <a href="#">
                                <h5 class="service-header">
                                    Cost effective
                                </h5>
                                <figure class="servie-icon">
                                    <i aria-hidden="true" class="icon icon-save-money"></i>
                                </figure>
                                <p class="service-desc">
                                    Delivering quality services at competitive prices .
                                </p>
                            </a>
                        </div>
                        <div class="serice-type">
                            <a href="#">
                                <h5 class="service-header">
                                    Highly amicable
                                </h5>
                                <figure class="servie-icon">
                                    <i aria-hidden="true" class="icon icon-handshake"></i>
                                </figure>
                                <p class="service-desc">
                                    Nurturing trust, loyalty and mutual respect .
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- home about section html start -->
            <section class="home-about-us">
                <div class="container">
                    <div class="about-intro">
                        <div class="row">
                            <div class="col-lg-4">
                                <h2 class="about-title">
                                    Overwiew of our legal practice 
                                </h2>
                            </div>
                            <div class="col-lg-4">
                                <p>
                                    <span class="first-word">w</span>e always strive to
                                    improve our
                                    performance this is why
                                    more and more
                                    customers
                                    recommend us as their
                                    trusted providers of legal
                                    services.
                                </p>
                            </div>
                            <div class="col-lg-4">
                                <p>
                                    We believe in looking after our
                                    clients’ legal health by mastering
                                    their business and the environment
                                    in which they operate. In this way
                                    we are able to partner with our
                                    clients in pursuing their strategic
                                    imperaƟ ves while assisƟ ng in
                                    steering them away from the legal
                                    challenges encountered in the
                                    ordinary course of business
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="home-about-image">
                        <figure class="left-img">
                            <div class="video-button">
                                <a id="video-container" data-video-id="IUN664s7N-c">
                                    <i class="fas fa-play"></i>
                                </a>
                            </div>
                        </figure>
                        <aside class="about-aside-content">
                            <h6 class="about-content-title">
                                <em>
                                    ” Eligendi penatibus suspendisse pulvinar nibh eveniet anim alias per morbi potenti culpa hic incidunt assumenda. “
                                </em>
                            </h6>
                            <div class="about-author-wrapper">
                                <div class="author-detail">
                                    <figure class="author-img">
                                        <img src="images/j&j maitre jethro.jpg" alt="">
                                    </figure>
                                    <div class="author-description">
                                        <h5 class="author-name">Jethro Muyombi</h5>
                                        <span class="author-title">Head Advocate</span>
                                    </div>
                                </div>
                                <figure class="author-signature">
                                </figure>
                            </div>
                            <div id="accordion-tab-one" class="accordion-content" role="tablist">
                                <div id="accordion-A" class="card tab-pane fade show" role="tabpanel" aria-labelledby="accordion-A">
                                    <div class="card-header" role="tab" id="qus-A">
                                        <h6 class="mb-0">
                                            <a data-bs-toggle="collapse" href="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                                                01. BE DEPENDABLE.
                                            </a>
                                        </h6>
                                    </div>
                                    <div id="collapse-one" class="collapse show" data-bs-parent="#accordion-tab-one" role="tabpanel" aria-labelledby="qus-A">
                                        <div class="card-body">
                                            We are honest.
                                            We do things ahead of time.
                                            We are empathetic.
                                        </div>
                                    </div>
                                </div>
                                <div id="accordion-B" class="card tab-pane" role="tabpanel" aria-labelledby="accordion-B">
                                    <div class="card-header" role="tab" id="qus-B">
                                        <h6 class="mb-0">
                                            <a class="collapsed" data-bs-toggle="collapse" href="#collapse-two" aria-expanded="false" aria-controls="collapse-two">
                                                02. BE PRAGMATIC.
                                            </a>
                                        </h6>
                                    </div>
                                    <div id="collapse-two" class="collapse" data-bs-parent="#accordion-tab-one" role="tabpanel" aria-labelledby="qus-B">
                                        <div class="card-body">
                                            We are constantly learning.
                                            We find practical solutions to problems.
                                            We adapt to all situations.
                                        </div>
                                    </div>
                                </div>
                                <div id="accordion-D" class="card tab-pane" role="tabpanel" aria-labelledby="accordion-D">
                                    <div class="card-header" role="tab" id="qus-D">
                                        <h6 class="mb-0">
                                            <a class="collapsed" data-bs-toggle="collapse" href="#collapse-four" aria-expanded="true" aria-controls="collapse-four">
                                                03. BE BOLD
                                            </a>
                                        </h6>
                                    </div>
                                    <div id="collapse-four" class="collapse" data-bs-parent="#accordion-tab-one" role="tabpanel" aria-labelledby="qus-D">
                                        <div class="card-body">
                                            
                                            We do things beyond convention.
                                            We are disruptive.
                                            We communicate with candor & care

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </section>
            <!-- home area section html start -->
            <section class="home-legal-area">
                <div class="container">
                    <div class="top-section-head text-center col-lg-8 offset-lg-2">
                        <h2 class="section-title">
                            Our practice specialties 
                        </h2>
                        <p class="section-paragraph">
                            We exist to offer innovative
                            service that nurtures
                            relationships and impacts lives
                        </p>
                    </div>
                    <div class="legal-area-list">
                        <div class="legal-area-detail">
                            <figure class="area-img">
                                <img src="images/j&j_law_firm_business_law.jpg" alt="">
                            </figure>
                            <div class="area-content-wrapper">
                                <div class="area-detail">
                                    <h5 class="role-title">Business Law</h5>
                                    <span class="area-role-btn">
                                        <a href="/practice-area-detail">LEARN MORE
                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>
                                        </a>
                                    </span>
                                </div>
                                <div class="legal-area-icon">
                                    <i aria-hidden="true" class="fas fa-balance-scale-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="legal-area-detail">
                            <figure class="area-img">
                                <img src="images/j&j_law_firm_insurance.jpg" alt="">
                            </figure>
                            <div class="area-content-wrapper">
                                <div class="area-detail">
                                    <h5 class="role-title">Complete insurance law coverage</h5>
                                    <span class="area-role-btn">
                                        <a href="/practice-area-detail">LEARN MORE
                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>
                                        </a>
                                    </span>
                                </div>
                                <div class="legal-area-icon">
                                    <i aria-hidden="true" class="fas fa-handshake"></i>
                                </div>
                            </div>
                        </div>
                        <div class="legal-area-detail item-3">
                            <figure class="area-img">
                                <img src="images/j&j_law_firm_property.jpg" alt="">
                            </figure>
                            <div class="area-content-wrapper">
                                <div class="area-detail">
                                    <h5 class="role-title">Property legalities</h5>
                                    <span class="area-role-btn">
                                        <a href="/practice-area-detail">LEARN MORE
                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>
                                        </a>
                                    </span>
                                </div>
                                <div class="legal-area-icon">
                                    <i aria-hidden="true" class="fas fa-home"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="legal-area-btn text-center">
                        <a href="/practice-area" class="button-primary">MORE PRACTICE AREA</a>
                    </div>
                </div>
            </section>
            <!-- home schedule section html start -->
            <section class="home-schedule">
                <div class="overlay gradient-overlay"></div>
                <div class="container">
                    <div class="schedule-wrapper">
                        <div class="right-side-schedule">
                            <div class="overlay balance-patten"></div>
                            <aside class="section-head-white ">
                                <h2 class="section-title">
                                    Engage Us For All Legal Needs !
                                </h2>
                                <p class="section-paragraph">
                                    Entrust your legal matters to our team of experienced attorneys . we offer personalized, efficient, and expert solutions for a wide range of legal issues.
                                </p>
                                <div class="timenote">
                                    <div class="schedule-time">
                                        <ul>
                                            <li>
                                                <h6>Monday - Friday</h6>
                                            </li>
                                            <li>
                                                <h6>9:00 AM - 6:00 pm</h6>
                                            </li>
                                            <li>
                                                <h6>Sunday & Public Holidays (Closed)</h6>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="note-list">
                                        <ul>
                                            <li>
                                                <i aria-hidden="true" class="far fa-check-square"></i>
                                                <span>
                                                    Client-focused excellence.
                                                </span>
                                            </li>
                                            <li>
                                                <i aria-hidden="true" class="far fa-check-square"></i>
                                                <span>
                                                    Strategic legal insights.
                                                </span>
                                            </li>
                                            <li>
                                                <i aria-hidden="true" class="far fa-check-square"></i>
                                                <span>
                                                    Integrity-driven practice.
                                                </span>
                                            </li>
                                            <li>
                                                <i aria-hidden="true" class="far fa-check-square"></i>
                                                <span>
                                                    Navigating law effectively.
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="schedule-btn">
                                    <a href="/contact" class="button-primary">HIRE US NOW!</a>
                                </div>
                            </aside>
                        </div>
                        <div class="left-side-shedule">
                            <div class="goal-wrapper">
                                <div class="circle-progressbar-yellow circle-progressbar" data-animate="false">
                                    <div class="circle-bar" data-percent="95">
                                        <div class="circle-number"></div>
                                    </div>
                                </div>
                                <h5 class="goal-title">Legal Solution</h5>
                            </div>
                            <div class="goal-wrapper">
                                <div class="circle-progressbar-white circle-progressbar" data-animate="false">
                                    <div class="circle-bar" data-percent="98">
                                        <div class="circle-number"></div>
                                    </div>
                                </div>
                                <h5 class="goal-title">Project Success</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- home gallery html section -->
            <section class="home-gallery-section">
                <div class="container">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="top-section-head text-center">
                            <h2 class="section-title">
                                Recent Legal Analyses
                            </h2>
                            <p class="section-paragraph">
                                Explore our detailed case reviews showcasing our approach to complex legal issues and our commitment to achieving favorable outcomes for our clients.
                            </p>
                        </div>
                    </div>
                    <div class="gallery-nav">
                        <ul class="filter-menu">
                            <li class="button filtering-button is-checked" data-filter=".LEGAL-WORK">LEGAL WORK</li>
                            <li class="button filtering-button" data-filter=".MANAGEMENT">MANAGEMENT</li>
                            <li class="button filtering-button" data-filter=".CORPORATE">CORPORATE</li>
                        </ul>
                    </div>
                    <div class="gallery-container">
                        <div class="gallery-grid">
                            <div class="mix single-gallery gallery-grid-item LEGAL-WORK">
                                <figure class="gallery-img">
                                    <a href="images/j&j_law_firm_1.jpg" data-fancybox="gallery" class="img-box">
                                        <img src="images/j&j_law_firm_1.jpg" alt="">
                                    </a>
                                    <div class="facility-gallery-wrapper">
                                        <div class="facility-content">
                                            <h5 class="facility-title">
                                                <a href="/case-detail">Property & Real Estate</a>
                                            </h5>
                                            <p class="facility-info">
                                                Viverra ligula, cumque elit ipsu, expea lobortis iste fugiat dae.
                                            </p>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                            <div class="single-gallery gallery-grid-item LEGAL-WORK">
                                <figure class="gallery-img">
                                    <a href="images/j&j_law_firm_2.jpg" data-fancybox="gallery" class="img-box">
                                        <img src="images/j&j_law_firm_2.jpg" alt="">
                                    </a>
                                    <div class="facility-gallery-wrapper">
                                        <div class="facility-content">
                                            <h5 class="facility-title">
                                                <a href="/case-detail">Labours Relations Board</a>
                                            </h5>
                                            <p class="facility-info">
                                                Viverra ligula, cumque elit ipsu, expea lobortis iste fugiat dae.
                                            </p>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                            <div class="single-gallery gallery-grid-item MANAGEMENT">
                                <figure class="gallery-img">
                                    <a href="images/j&j_law_firm_3.jpg" data-fancybox="gallery" class="img-box">
                                        <img src="images/j&j_law_firm_3.jpg" alt="">
                                    </a>
                                    <div class="facility-gallery-wrapper">
                                        <div class="facility-content">
                                            <h5 class="facility-title">
                                                <a href="/case-detail">Civil & Legal Litigation</a>
                                            </h5>
                                            <p class="facility-info">
                                                Viverra ligula, cumque elit ipsu, expea lobortis iste fugiat dae.
                                            </p>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                            <div class="single-gallery gallery-grid-item MANAGEMENT">
                                <figure class="gallery-img">
                                    <a href="images/j&j_law_firm_4.jpg" data-fancybox="gallery" class="img-box">
                                        <img src="images/j&j_law_firm_4.jpg" alt="">
                                    </a>
                                    <div class="facility-gallery-wrapper">
                                        <div class="facility-content">
                                            <h5 class="facility-title">
                                                <a href="/case-detail">Business Legal Terms</a>
                                            </h5>
                                            <p class="facility-info">
                                                Viverra ligula, cumque elit ipsu, expea lobortis iste fugiat dae.
                                            </p>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                            <div class="single-gallery gallery-grid-item CORPORATE">
                                <figure class="gallery-img">
                                    <a href="images/j&j_law_firm_5.jpg" data-fancybox="gallery" class="img-box">
                                        <img src="images/j&j_law_firm_5.jpg" alt="">
                                    </a>
                                    <div class="facility-gallery-wrapper">
                                        <div class="facility-content">
                                            <h5 class="facility-title">
                                                <a href="/case-detail">Human Resource Develop</a>
                                            </h5>
                                            <p class="facility-info">
                                                Viverra ligula, cumque elit ipsu, expea lobortis iste fugiat dae.
                                            </p>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                            <div class="single-gallery gallery-grid-item CORPORATE">
                                <figure class="gallery-img">
                                    <a href="images/j&j_image.jpg" data-fancybox="gallery" class="img-box">
                                        <img src="images/j&j_image.jpg" alt="">
                                    </a>
                                    <div class="facility-gallery-wrapper">
                                        <div class="facility-content">
                                            <h5 class="facility-title">
                                                <a href="/case-detail">Income Tax Manage</a>
                                            </h5>
                                            <p class="facility-info">
                                                Viverra ligula, cumque elit ipsu, expea lobortis iste fugiat dae.
                                            </p>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- home service section html -->
            <section class="home-service">
                <div class="overlay balance-patten"></div>
                <div class="container">
                    <div class="home-service-wrapper">
                        <div class="service-left">
                            <div class="fact-inner-box">
                                <div class="fact-content top-left-content">
                                    <i aria-hidden="true" class="fas fa-user-graduate"></i>
                                    <h5>Our Expertise Is Earned Through Our Experience</h5>
                                </div>
                                <figure class="fact-image top-right-image"></figure>
                                <figure class="fact-image bottom-left-image"></figure>
                                <div class="fact-content bottom-right-content">
                                    <i aria-hidden="true" class="icon icon-idea1"></i>
                                    <h5>Our Best Team For Your Any Legal Advice & Work</h5>
                                </div>
                            </div>
                        </div>
                        <div class="service-right">
                            <div class="section-head-white">
                                <h2 class="section-title">
                                    Experience you can trust, Service you can count !
                                </h2>
                                <p class="section-paragraph">
                                    Hic voluptatibus asperiores animi vero. Felis ipsum. Gravida aspernatur adipisci mus adipisci ipsam etiam, repellendus apten.
                                </p>
                            </div>
                            <div class="counter-inner-two-side">
                                <div class="row">
                                    <div class=" counter-item col-6">
                                        <div class="counter-no">
                                            <span class="counter">320</span>+
                                        </div>
                                        <div class="Completed">
                                            Project Done
                                        </div>
                                    </div>
                                    <div class=" counter-item col-6">
                                        <div class="counter-no">
                                            <span class="counter">25</span>+
                                        </div>
                                        <div class="Completed">
                                            Award Achieved
                                        </div>
                                    </div>
                                    <div class=" counter-item col-6">
                                        <div class="counter-no">
                                            <span class="counter">18</span>+
                                        </div>
                                        <div class="Completed">
                                            Office Branches
                                        </div>
                                    </div>
                                    <div class=" counter-item col-6">
                                        <div class="counter-no">
                                            <span class="counter">5</span>k+
                                        </div>
                                        <div class="Completed">
                                            Happy Customer
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- home testimonial section html -->
            <!-- <section class="home-testimonial-section">
                <div class="container">
                    <div class="home-testimonial-wrapper">
                        <div class="section-head">
                            <h2 class="section-title">
                                Trusted By Our Customers
                            </h2>
                            <p class="section-paragraph">
                                Hic voluptatibus asperiores animi vero. Felis ipsum. Gravida aspernatur adipisci mus adipisci ipsam etiam, repellendus aptent aliquam quas, aptent ab curabitu.
                            </p>
                            <a href="testimonial.html" class="testimonial-btn button-primary">VIEW ALL REVIEWS</a>
                        </div>
                        <div class="review-slider-wrapper">
                            <div class="testimonial-slider">
                                <div class="home-testimonial-content">
                                    <div class="testimonila-detail">
                                        <figure class="testimonila-icon">
                                            <i aria-hidden="true" class="icon icon-quote2"></i>
                                        </figure>
                                        <p>
                                            Repellendus ad voluptate quaerat sociosqu repellat quisque quas sagittis laboriosam perferendis placeat, ducimus perferendis omnis placeat, ducimus perfere.
                                        </p>
                                    </div>
                                    <div class="author-detail">
                                        <figure class="author-img">
                                            <img src="assets/img/legalor-img9.jpg" alt="">
                                        </figure>
                                        <div class="author-info">
                                            <h5 class="author-name">Jason Lawrence</h5>
                                            <span class="author-desc">CLIENT</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="home-testimonial-content">
                                    <div class="testimonila-detail">
                                        <figure class="testimonila-icon">
                                            <i aria-hidden="true" class="icon icon-quote2"></i>
                                        </figure>
                                        <p>
                                            Repellendus ad voluptate quaerat sociosqu repellat quisque quas sagittis laboriosam perferendis placeat, ducimus perferendis omnis placeat, ducimus perfere.
                                        </p>
                                    </div>
                                    <div class="author-detail">
                                        <figure class="author-img">
                                            <img src="assets/img/legalor-img8.jpg" alt="">
                                        </figure>
                                        <div class="author-info">
                                            <h5 class="author-name">Alison White</h5>
                                            <span class="author-desc">CLIENT</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="home-testimonial-content">
                                    <div class="testimonila-detail">
                                        <figure class="testimonila-icon">
                                            <i aria-hidden="true" class="icon icon-quote2"></i>
                                        </figure>
                                        <p>
                                            Repellendus ad voluptate quaerat sociosqu repellat quisque quas sagittis laboriosam perferendis placeat, ducimus perferendis omnis placeat, ducimus perfere.
                                        </p>
                                    </div>
                                    <div class="author-detail">
                                        <figure class="author-img">
                                            <img src="assets/img/legalor-img10.jpg" alt="">
                                        </figure>
                                        <div class="author-info">
                                            <h5 class="author-name">William Scott</h5>
                                            <span class="author-desc">CLIENT</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->
            <!-- home blog section html start -->
            <section class="home-blog-section">
                <div class="container">
                    <div class="section-head col-md-8 offset-md-2 text-center">
                        <h2 class="section-title">
                            News And Articles
                        </h2>
                        <p class="section-paragraph">
                            Placerat fusce imperdiet turpis lacus consequat mauris nostrum, scelerisque, non ipsa quidem iure doloremque, ad at risus aperiam minim dapibus aliquet tempor! Irure exercitationem netus.
                        </p>
                    </div>
                    <div class="inner-blog-wrapper">
                        <article class="post">
                            <figure class="feature-image">
                                <img src="images/j&j parquet 2 lu.jpg" alt="">
                                <span class="cat-meta">
                                    <a href="#">LEGAL WORK</a>
                                </span>
                            </figure>
                            <div class="entry-content">
                                <h5>
                                    <a href="#">Work Load Are Increasing In Your Legal Department</a>
                                </h5>
                                <div class="entry-meta">
                                    <span class="posted-on">
                                        <a href="#">February 28, 2023</a>
                                    </span>
                                    <span class="comments">
                                        <a href="#">No Comments</a>
                                    </span>
                                </div>
                            </div>
                        </article>
                        <article class="post">
                            <figure class="feature-image">
                                <img src="images/j&j actu 2.jpg" alt="">
                                <span class="cat-meta">
                                    <a href="#">LAW & TERMS</a>
                                </span>
                            </figure>
                            <div class="entry-content">
                                <h5>
                                    <a href="#">Listening Customers Will Give Us More Experience</a>
                                </h5>
                                <div class="entry-meta">
                                    <span class="posted-on">
                                        <a href="#">February 28, 2023</a>
                                    </span>
                                    <span class="comments">
                                        <a href="#">No Comments</a>
                                    </span>
                                </div>
                            </div>
                        </article>
                        <article class="post item-3 item-3">
                            <figure class="feature-image">
                                <img src="images/j&j actu.jpg" alt="">
                                <span class="cat-meta">
                                    <a href="#">LEGAL WORK</a>
                                </span>
                            </figure>
                            <div class="entry-content">
                                <h5>
                                    <a href="#">Difference Of Legal Information & Legal Advice</a>
                                </h5>
                                <div class="entry-meta">
                                    <span class="posted-on">
                                        <a href="#">February 28, 2023</a>
                                    </span>
                                    <span class="comments">
                                        <a href="#">No Comments</a>
                                    </span>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
        </main>
        <!-- footer part -->
        <footer id="colophon" class="site-footer">
            <div class="top-footer">
            <div class="footer-overlay overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <aside class="widget widget_text img-textwidget primary-bg">
                                <div class="footer-logo">
                                    <a href="/index">
                                        <img src="images/J&J logo white.svg" alt="logo">
                                    </a>
                                </div>
                                <div class="textwidget widget-text">
                                    Voluptatum penatibus dis eligendi quasi suscipit voluptas, massa quasi duis elit quas volutpat animi.
                                </div>
                                <div class="footer-locate-link">
                                    <ul>
                                        <li>
                                            <i aria-hidden="true" class="fas fa-map-pin"></i>
                                            <span class="locate-txt">
                                                701 Kasa Vubu, Lubumbashi
                                            </span>
                                        </li>
                                        <li>
                                            <a href="tel:+243999009319">
                                                <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                                <span class="locate-txt">
                                                    +243(999)009-319
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="mailto:info@domain.com">
                                                <i aria-hidden="true" class="fas fa-envelope"></i>
                                                <span class="locate-txt">
                                                    info@domain.com
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                        <div class="col-lg-2 col-sm-6">
                            <aside class="widget">
                                <h5 class="widget-title">usefull link</h5>
                                <ul class="widget-underline">
                                    <li>
                                        <a href="/about">About us</a>
                                    </li>
                                    <li>
                                        <a href="/Contact">Help Center</a>
                                    </li>
                                    <li>
                                        <a href="/legal-notice">Legal Notice</a>
                                    </li>
                                </ul>
                            </aside>
                        </div>
                        <div class="col-lg-2 col-sm-6">
                            <aside class="widget">
                                <h5 class="widget-title">Resources</h5>
                                <ul>
                                    <li>
                                        <a href="/attorney">Attorney</a>
                                    </li>
                                    <li>
                                        <a href="/practice-area">Practise Areas</a>
                                    </li>
                                    <li>
                                        <a href="/feature">Law Advice</a>
                                    </li>
                                </ul>
                            </aside>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <aside class="widget news-widget">
                                <h5 class="widget-title">Subscribe Newsletter</h5>
                                <div class="textwidget widget-text">
                                    Sem quidem convallis ipsa iusto tempore sapiente, corporis! Sagittis etiam.
                                </div>
                                <form class="footer-email-form">
                                    <input type="email" name="email" placeholder="Enter your Email.">
                                    <button type="submit" class="footer-email-btn">
                                        <i aria-hidden="true" class="fas fa-paper-plane"></i>
                                    </button>
                                </form>
                                <div class="footer-social-links">
                                    <p>Follow on social media :</p>
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/" target="_blank">
                                                <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.twitter.com/" target="_blank">
                                                <i class="fab fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank">
                                                <i class="fab fa-instagram" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/" target="_blank">
                                                <i class="fab fa-youtube"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="container">
                    <div class="copy-right">Copyright &copy; 2024 J&J LAW FIRM. All rights reserved.</div>
                </div>
            </div>
        </footer>
        <!-- back to top -->
        <a id="backTotop" href="#" class="to-top-icon">
            <i class="fas fa-chevron-up"></i>
        </a>
        <!-- custom search field html -->
        <div class="header-search-form">
            <div class="container">
                <div class="header-search-container">
                    <form class="search-form" role="search" method="get">
                        <input type="text" name="s" placeholder="Enter your text...">
                    </form>
                    <a href="#" class="search-close">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript -->
    <script src="/vendors/jquery/jquery.js"></script>
    <script src="/vendors/waypoint/jquery.waypoints.min.js"></script>
    <script src="/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendors/jquery-ui/jquery-ui.min.js"></script>
    <script src="/vendors/progressbar-fill-visible/js/progressBar.min.js"></script>
    <script src="/vendors/circle-progress/circle-progress.min.js"></script>
    <script src="/vendors/countdown-date-loop-counter/loopcounter.js"></script>
    <script src="/vendors/modal-video/jquery-modal-video.min.js"></script>
    <script src="/vendors/masonry/masonry.pkgd.min.js"></script>
    <script src="/vendors/isotope/isotope.pkgd.min.js"></script>
    <script src="/vendors/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="/vendors/counterup/jquery.counterup.js"></script>
    <script src="/vendors/slick/slick.min.js"></script>
    <script src="/vendors/slick-nav/jquery.slicknav.js"></script>
    <script src="/js/custom.js"></script>
</body>

</html>