<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="icon" type="image/png" href="/images/J&J law firm official logo white favicon (4).png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/vendors/bootstrap/css/bootstrap.min.css" media="all">
    <!-- Fonts Awesome CSS -->
    <link rel="stylesheet" type="text/css" href="/vendors/fontawesome/css/all.min.css">
    <!-- Elmentkit Icon CSS -->
    <link rel="stylesheet" type="text/css" href="/vendors/elementskit-icon-pack/assets/css/ekiticons.css">
    <!-- progress bar CSS -->
    <link rel="stylesheet" type="text/css" href="/vendors/progressbar-fill-visible/css/progressBar.css">
    <!-- jquery-ui css -->
    <link rel="stylesheet" type="text/css" href="/vendors/jquery-ui/jquery-ui.min.css">
    <!-- modal video css -->
    <link rel="stylesheet" type="text/css" href="/vendors/modal-video/modal-video.min.css">
    <!-- light box css -->
    <link rel="stylesheet" type="text/css" href="/vendors/fancybox/dist/jquery.fancybox.min.css">
    <!-- slick slider css -->
    <link rel="stylesheet" type="text/css" href="/vendors/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="/vendors/slick/slick-theme.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>J&J LAW FIRM</title>
</head>

<body class="home">
    <div id="siteLoader" class="site-loader ">
        <div class="preloader-content">
            <img src="/images/loader1.gif" alt="">
        </div>
    </div>
    <div id="page" class="full-page">
        <!-- header html start -->
        <header class="site-header site-header-transparent" id="masthead">
            <!-- header html start -->
            <div class="top-header">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-5 d-flex justify-content-md-start justify-content-center">
                            <div class="header-schedule-info">
                                <i aria-hidden="true" class="icon icon-chat"></i>
                                <span class="schedule-info">
                                    Besoin d'une consultation ?
                                    <a href="/reservation">Prenez rendez-vous dès maintenant</a>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-7 d-flex justify-content-md-end justify-content-between align-items-center">
                            <div class="legal-list">
                                <ul>
                                    <li> <a href="/blog-archive">Actualités de l'entreprise</a></li>
                                    <li> <a href="/faq">Questions fréquentes (FAQ)</a></li>
                                    <li> <a href="/legal-notice">Politique</a></li>
                                </ul>
                            </div>
                            <div class="header-social social-links">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com" target="_blank">
                                            <i class="fab fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com" target="_blank">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com" target="_blank">
                                            <i class="fab fa-youtube" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com" target="_blank">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com" target="_blank">
                                            <i class="fab fa-linkedin" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-header">
                <div class="container">
                    <div class="hb-group d-flex align-items-center justify-content-between">
                        <div class="site-identity col-lg-2">
                            <p class="site-title">
                                <a href="/index">
                                    <img src="/images/J&J logo white.svg" alt="logo">
                                </a>
                            </p>
                        </div>
                        <div class="main-navigation col-lg-10 justify-content-end d-flex align-items-center">
                            <nav id="navigation" class="navigation d-none d-lg-inline-block">
                                <ul>
                                    <li class="current-menu-item">
                                        <a href="/">Accueil</a>
                                    </li>
                                    <li>
                                        <a href="/about">À propos de nous</a>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">En savoir plus</a>
                                        <ul>
                                            <li>
                                                <a href="/practice-area">DOMAINES DE PRATIQUE</a>
                                            </li>
                                            <li>
                                                <a href="/attorney">AVOCATS</a>
                                            </li>
                                            <li>
                                                <a href="/attorney-detail">DÉTAILS DU MAÎTRE</a>
                                            </li>
                                            <li>
                                                <a href="/faq">QUESTIONS FRÉQUENTES</a>
                                            </li>
                                            <li>
                                                <a href="/legal-notice">Mentions légales</a>
                                            </li>
                                            <li>
                                                <a href="/reservation">Réservation</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/contact">Contact</a>
                                    </li>
                                </ul>                                
                            </nav>
                            <div class="bottom-sub-menu d-flex align-items-center">
                                <div class="header-search-icon">
                                    <button class="search-icon">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                <div class="header-contact-info">
                                    <a href="tel:+243999009319">
                                        <div class="header-contact-inner">
                                            <span class="icon">
                                                <i aria-hidden="true" class="icon icon-phone1"></i>
                                            </span>
                                            <div class="details-content">
                                                <span class="content-title">PARLEZ À UN EXPERT !</span>
                                                <h6>+243 995482416</h6>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="more-about-ceo">
                                    <button class="openbtn" onclick="openNav()">
                                        <i aria-hidden="true" class="icon icon-menu-11"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mobile-menu-container"></div>
            </div>
            <section class="sidebar-section" id="attorneySidepannel">
                <div class="sidebar-content" id="attorneySidepannelchild">
                    <div class="sidebar-close-section">
                        <button class="close-btn" onclick="closeNav()">
                            <i aria-hidden="true" class="fas fa-times"></i>
                        </button>
                    </div>
                    <div class="sub-section-detail">
                        <h6 class="head-title">
                            Notre Maître de Cabinet
                        </h6>
                        <figure class="attorney-image">
                            <img src="/images/j&j maitre jethro.jpg" alt="">
                        </figure>
                        <h5 class="attorney-name">
                            Jethro Muyombi
                        </h5>
                        <p class="attorney-des">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                        </p>
                        <div class="social-links">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com" target="_blank">
                                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com" target="_blank">
                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com" target="_blank">
                                        <i class="fab fa-youtube" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com" target="_blank">
                                        <i class="fab fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com" target="_blank">
                                        <i class="fab fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sub-section-detail">
                        <h6 class="head-title">
                            Notre Maître de Cabinet
                        </h6>
                        <p>N'hésitez pas à nous contacter !</p>
                        <div class="contact-info">
                            <ul>
                                <li>
                                    <span>Adresse Kinshasa : nᵒ 148/A, Boulevard du 30 Juin, commune de la Gombe, 4ᵉ étage, Immeuble LUXURY TOWER </span>
                                </li>
                                <li>
                                    <span>Numéro de téléphone :
                                        <a href="tel=+243 995482416">+243 995482416</a>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <a href="lawfirmjetj@gmail.com">lawfirmjetj@gmail.com</a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </header>
        <main id="content" class="site-main">
            <!-- home banner section html start -->
            <section class="home-banner">
                <div class="overlay overlay-balance"></div>
                <div class="container">
                    <div class="row align-items-center g-0">
                        <div class="col-lg-6 col-md-6">
                            <div class="banner-detail">
                                <h2 class="banner-title">
                                    NOUS SOMMES UN CABINET D'AVOCATS SPÉCIALISÉ
                                </h2>
                                <p class="banner-info">
                                    Axé sur le droit minier, le droit des affaires, le droit de l'immigration, le droit des médias, le droit du travail, le droit des télécommunications, le droit de la propriété intellectuelle et le droit de la construction. Nous conseillons nos clients sur le financement, l'exploitation et la protection de leurs actifs créatifs et commerciaux dans ces secteurs.
                                </p>
                                <div class="banner-btn-wrapper">
                                    <a href="/reservation" class="button-primary">PRISE DE RENDEZ-VOUS</a>
                                    <a href="/about" class="button-white">EN SAVOIR PLUS</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <figure class="banner-img">
                                <div class="banner-overlay-img overlay"></div>
                                <img src="images/jethro profile.png" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="banner-service-content">
                        <div class="serice-type">
                            <a href="#">
                                <h5 class="service-header">
                                    Officiellement accrédité
                                </h5>
                                <figure class="servie-icon">
                                    <i aria-hidden="true" class="icon icon-Profile"></i>
                                </figure>
                                <p class="service-desc">
                                    Certifié officiellement par les autorités gouvernementales
                                </p>
                            </a>
                        </div>
                        <div class="serice-type active">
                            <a href="#">
                                <h5 class="service-header">
                                    Spécialiste juridique
                                </h5>
                                <figure class="servie-icon">
                                    <i aria-hidden="true" class="icon icon-Rating"></i>
                                </figure>
                                <p class="service-desc">
                                    Fournissant des solutions juridiques expertes de manière efficace.
                                </p>
                            </a>
                        </div>
                        <div class="serice-type">
                            <a href="#">
                                <h5 class="service-header">
                                    Rentable
                                </h5>
                                <figure class="servie-icon">
                                    <i aria-hidden="true" class="icon icon-save-money"></i>
                                </figure>
                                <p class="service-desc">
                                    Offrant des services de qualité à des prix compétitifs.
                                </p>
                            </a>
                        </div>
                        <div class="serice-type">
                            <a href="#">
                                <h5 class="service-header">
                                    Fortement convivial
                                </h5>
                                <figure class="servie-icon">
                                    <i aria-hidden="true" class="icon icon-handshake"></i>
                                </figure>
                                <p class="service-desc">
                                    Favoriser la confiance, la loyauté et le respect mutuel.
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- home about section html start -->
            <section class="home-about-us">
                <div class="container">
                    <div class="about-intro">
                        <div class="row">
                            <div class="col-lg-4">
                                <h2 class="about-title">
                                    Vue d'ensemble de notre pratique juridique 
                                </h2>
                            </div>
                            <div class="col-lg-4">
                                <p>
                                    <span class="first-word">n</span>ous nous efforçons toujours d'améliorer notre performance, c'est pourquoi de plus en plus de clients nous recommandent comme leurs prestataires de services juridiques de confiance.
                                </p>
                            </div>
                            <div class="col-lg-4">
                                <p>
                                    Nous croyons en la protection de la santé juridique de nos clients en maîtrisant leur activité et l'environnement dans lequel ils évoluent. De cette manière, nous pouvons nous associer à nos clients pour atteindre leurs impératifs stratégiques tout en les aidant à éviter les défis juridiques rencontrés dans le cadre ordinaire de leurs affaires.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="home-about-image">
                        <figure class="left-img">
                            <div class="video-button">
                                <a id="video-container" data-video-id="IUN664s7N-c">
                                    <i class="fas fa-play"></i>
                                </a>
                            </div>
                        </figure>
                        <aside class="about-aside-content">
                            <h6 class="about-content-title">
                                <em>
                                    ” Nous offrons une expertise juridique fiable et personnalisée, en nous engageant à protéger vos intérêts avec intégrité et excellence. “
                                </em>
                            </h6>
                            <div class="about-author-wrapper">
                                <div class="author-detail">
                                    <figure class="author-img">
                                        <img src="images/j&j maitre jethro.jpg" alt="">
                                    </figure>
                                    <div class="author-description">
                                        <h5 class="author-name">Jethro Muyombi</h5>
                                        <span class="author-title">Notre Maître Principal</span>
                                    </div>
                                </div>
                                <figure class="author-signature">
                                </figure>
                            </div>
                            <div id="accordion-tab-one" class="accordion-content" role="tablist">
                                <div id="accordion-A" class="card tab-pane fade show" role="tabpanel" aria-labelledby="accordion-A">
                                    <div class="card-header" role="tab" id="qus-A">
                                        <h6 class="mb-0">
                                            <a data-bs-toggle="collapse" href="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                                                1. FIABLE.
                                            </a>
                                        </h6>
                                    </div>
                                    <div id="collapse-one" class="collapse show" data-bs-parent="#accordion-tab-one" role="tabpanel" aria-labelledby="qus-A">
                                        <div class="card-body">
                                            Nous sommes honnêtes.
                                            Nous faisons les choses à l'avance.
                                            Nous sommes empathiques.
                                        </div>
                                    </div>
                                </div>
                                <div id="accordion-B" class="card tab-pane" role="tabpanel" aria-labelledby="accordion-B">
                                    <div class="card-header" role="tab" id="qus-B">
                                        <h6 class="mb-0">
                                            <a class="collapsed" data-bs-toggle="collapse" href="#collapse-two" aria-expanded="false" aria-controls="collapse-two">
                                                2. PRAGMATIQUE.
                                            </a>
                                        </h6>
                                    </div>
                                    <div id="collapse-two" class="collapse" data-bs-parent="#accordion-tab-one" role="tabpanel" aria-labelledby="qus-B">
                                        <div class="card-body">
                                            Nous apprenons en permanence.
                                            Nous trouvons des solutions pratiques aux problèmes.
                                            Nous nous adaptons à toutes les situations.
                                        </div>
                                    </div>
                                </div>
                                <div id="accordion-D" class="card tab-pane" role="tabpanel" aria-labelledby="accordion-D">
                                    <div class="card-header" role="tab" id="qus-D">
                                        <h6 class="mb-0">
                                            <a class="collapsed" data-bs-toggle="collapse" href="#collapse-four" aria-expanded="true" aria-controls="collapse-four">
                                                3. AUDACIEUX.
                                            </a>
                                        </h6>
                                    </div>
                                    <div id="collapse-four" class="collapse" data-bs-parent="#accordion-tab-one" role="tabpanel" aria-labelledby="qus-D">
                                        <div class="card-body">
                                            
                                            Nous agissons au-delà des conventions.
                                            Nous sommes novateurs.
                                            Nous communiquons avec franchise et attention.

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </section>
            <!-- home area section html start -->
            <section class="home-legal-area">
                <div class="container">
                    <div class="top-section-head text-center col-lg-8 offset-lg-2">
                        <h2 class="section-title">
                            Nos spécialités
                        </h2>
                        <p class="section-paragraph">
                            Nous existons pour offrir un service innovant qui favorise les relations et impacte les vies.
                        </p>
                    </div>
                    <div class="legal-area-list">
                        <div class="legal-area-detail">
                            <figure class="area-img">
                                <img src="images/j&j_law_firm_business_law.jpg" alt="">
                            </figure>
                            <div class="area-content-wrapper">
                                <div class="area-detail">
                                    <h5 class="role-title">Droit des affaires</h5>
                                    <span class="area-role-btn">
                                        <a href="/practice-area-detail">EN SAVOIR PLUS
                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>
                                        </a>
                                    </span>
                                </div>
                                <div class="legal-area-icon">
                                    <i aria-hidden="true" class="fas fa-balance-scale-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="legal-area-detail">
                            <figure class="area-img">
                                <img src="images/j&j_law_firm_insurance.jpg" alt="">
                            </figure>
                            <div class="area-content-wrapper">
                                <div class="area-detail">
                                    <h5 class="role-title">Couverture complète du droit des assurances</h5>
                                    <span class="area-role-btn">
                                        <a href="/practice-area-detail">EN SAVOIR PLUS
                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>
                                        </a>
                                    </span>
                                </div>
                                <div class="legal-area-icon">
                                    <i aria-hidden="true" class="fas fa-handshake"></i>
                                </div>
                            </div>
                        </div>
                        <div class="legal-area-detail item-3">
                            <figure class="area-img">
                                <img src="images/j&j_law_firm_property.jpg" alt="">
                            </figure>
                            <div class="area-content-wrapper">
                                <div class="area-detail">
                                    <h5 class="role-title">Questions juridiques liées à la propriété</h5>
                                    <span class="area-role-btn">
                                        <a href="/practice-area-detail">EN SAVOIR PLUS
                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>
                                        </a>
                                    </span>
                                </div>
                                <div class="legal-area-icon">
                                    <i aria-hidden="true" class="fas fa-home"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="legal-area-btn text-center">
                        <a href="/practice-area" class="button-primary">AUTRES DOMAINES DE PRATIQUE</a>
                    </div>
                </div>
            </section>
            <!-- home schedule section html start -->
            <section class="home-schedule">
                <div class="overlay gradient-overlay"></div>
                <div class="container">
                    <div class="schedule-wrapper">
                        <div class="right-side-schedule">
                            <div class="overlay balance-patten"></div>
                            <aside class="section-head-white ">
                                <h2 class="section-title">
                                    Faites-nous appel pour tous vos besoins juridiques !
                                </h2>
                                <p class="section-paragraph">
                                    Confiez vos affaires juridiques à notre équipe d'avocats expérimentés. Nous offrons des solutions personnalisées, efficaces et expertes pour une large gamme de questions juridiques.
                                </p>
                                <div class="timenote">
                                    <div class="schedule-time">
                                        <ul>
                                            <li>
                                                <h6>Du lundi au vendredi</h6>
                                            </li>
                                            <li>
                                                <h6>9h00 - 18h00</h6>
                                            </li>
                                            <li>
                                                <h6>Dimanche et jours fériés (Fermé)</h6>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="note-list">
                                        <ul>
                                            <li>
                                                <i aria-hidden="true" class="far fa-check-square"></i>
                                                <span>
                                                    Excellence axée sur le client.
                                                </span>
                                            </li>
                                            <li>
                                                <i aria-hidden="true" class="far fa-check-square"></i>
                                                <span>
                                                    Perspectives juridiques stratégiques.
                                                </span>
                                            </li>
                                            <li>
                                                <i aria-hidden="true" class="far fa-check-square"></i>
                                                <span>
                                                    Pratique guidée par l'intégrité.
                                                </span>
                                            </li>
                                            <li>
                                                <i aria-hidden="true" class="far fa-check-square"></i>
                                                <span>
                                                    Naviguer dans le droit de manière efficace.
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="schedule-btn">
                                    <a href="/contact" class="button-primary">ENGAGEZ-NOUS DÈS MAINTENANT !</a>
                                </div>
                            </aside>
                        </div>
                        <div class="left-side-shedule">
                            <div class="goal-wrapper">
                                <div class="circle-progressbar-yellow circle-progressbar" data-animate="false">
                                    <div class="circle-bar" data-percent="95">
                                        <div class="circle-number"></div>
                                    </div>
                                </div>
                                <h5 class="goal-title">Solution Juridique</h5>
                            </div>
                            <div class="goal-wrapper">
                                <div class="circle-progressbar-white circle-progressbar" data-animate="false">
                                    <div class="circle-bar" data-percent="98">
                                        <div class="circle-number"></div>
                                    </div>
                                </div>
                                <h5 class="goal-title">Réussite du Projet</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- home gallery html section -->
            <section class="home-gallery-section">
                <div class="container">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="top-section-head text-center">
                            <h2 class="section-title">
                                Analyses Juridiques Récentes
                            </h2>
                            <p class="section-paragraph">
                                Explorez nos analyses de cas détaillées mettant en avant notre approche des problèmes juridiques complexes et notre engagement à obtenir des résultats favorables pour nos clients.
                            </p>
                        </div>
                    </div>
                    <div class="gallery-nav">
                        <ul class="filter-menu">
                            <li class="button filtering-button is-checked" data-filter=".LEGAL-WORK">TRAVAUX JURIDIQUES</li>
                            <li class="button filtering-button" data-filter=".MANAGEMENT">GESTION</li>
                            <li class="button filtering-button" data-filter=".CORPORATE">CORPORATIF</li>
                        </ul>
                    </div>
                    <div class="gallery-container">
                        <div class="gallery-grid">
                            <div class="mix single-gallery gallery-grid-item LEGAL-WORK">
                                <figure class="gallery-img">
                                    <a href="images/j&j_law_firm_1.jpg" data-fancybox="gallery" class="img-box">
                                        <img src="images/j&j_law_firm_1.jpg" alt="">
                                    </a>
                                    <div class="facility-gallery-wrapper">
                                        <div class="facility-content">
                                            <h5 class="facility-title">
                                                <a href="/case-detail">Propriété et Immobilier</a>
                                            </h5>
                                            <p class="facility-info">
                                                Expertise en droit immobilier pour protéger et valoriser vos biens
                                            </p>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                            <div class="single-gallery gallery-grid-item LEGAL-WORK">
                                <figure class="gallery-img">
                                    <a href="images/j&j_law_firm_2.jpg" data-fancybox="gallery" class="img-box">
                                        <img src="images/j&j_law_firm_2.jpg" alt="">
                                    </a>
                                    <div class="facility-gallery-wrapper">
                                        <div class="facility-content">
                                            <h5 class="facility-title">
                                                <a href="/case-detail">Conseil des Relations du Travail</a>
                                            </h5>
                                            <p class="facility-info">
                                                Conseils stratégiques en relations du travail pour des solutions efficaces et équilibrées.
                                            </p>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                            <div class="single-gallery gallery-grid-item MANAGEMENT">
                                <figure class="gallery-img">
                                    <a href="images/j&j_law_firm_3.jpg" data-fancybox="gallery" class="img-box">
                                        <img src="images/j&j_law_firm_3.jpg" alt="">
                                    </a>
                                    <div class="facility-gallery-wrapper">
                                        <div class="facility-content">
                                            <h5 class="facility-title">
                                                <a href="/case-detail">Litiges Civils et Juridiques</a>
                                            </h5>
                                            <p class="facility-info">
                                                Gestion experte des litiges civils pour défendre vos droits avec assurance.
                                            </p>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                            <div class="single-gallery gallery-grid-item MANAGEMENT">
                                <figure class="gallery-img">
                                    <a href="images/j&j_law_firm_4.jpg" data-fancybox="gallery" class="img-box">
                                        <img src="images/j&j_law_firm_4.jpg" alt="">
                                    </a>
                                    <div class="facility-gallery-wrapper">
                                        <div class="facility-content">
                                            <h5 class="facility-title">
                                                <a href="/case-detail">Termes Juridiques Commerciaux
                                                </a>
                                            </h5>
                                            <p class="facility-info">
                                                Conseils en droit commercial pour des contrats solides et conformes.
                                            </p>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                            <div class="single-gallery gallery-grid-item CORPORATE">
                                <figure class="gallery-img">
                                    <a href="images/j&j_law_firm_5.jpg" data-fancybox="gallery" class="img-box">
                                        <img src="images/j&j_law_firm_5.jpg" alt="">
                                    </a>
                                    <div class="facility-gallery-wrapper">
                                        <div class="facility-content">
                                            <h5 class="facility-title">
                                                <a href="/case-detail">Développement des Ressources Humaines</a>
                                            </h5>
                                            <p class="facility-info">
                                                Optimisation des ressources humaines pour un développement stratégique et durable.
                                            </p>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                            <div class="single-gallery gallery-grid-item CORPORATE">
                                <figure class="gallery-img">
                                    <a href="images/j&j_image.jpg" data-fancybox="gallery" class="img-box">
                                        <img src="images/j&j_image.jpg" alt="">
                                    </a>
                                    <div class="facility-gallery-wrapper">
                                        <div class="facility-content">
                                            <h5 class="facility-title">
                                                <a href="/case-detail">Gestion de l'Impôt sur le Revenu</a>
                                            </h5>
                                            <p class="facility-info">
                                                Gestion experte de l’impôt sur le revenu pour maximiser vos avantages fiscaux.
                                            </p>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- home service section html -->
            <section class="home-service">
                <div class="overlay balance-patten"></div>
                <div class="container">
                    <div class="home-service-wrapper">
                        <div class="service-left">
                            <div class="fact-inner-box">
                                <div class="fact-content top-left-content">
                                    <i aria-hidden="true" class="fas fa-user-graduate"></i>
                                    <h5>Notre expertise est acquise grâce à notre expérience</h5>
                                </div>
                                <figure class="fact-image top-right-image"></figure>
                                <figure class="fact-image bottom-left-image"></figure>
                                <div class="fact-content bottom-right-content">
                                    <i aria-hidden="true" class="icon icon-idea1"></i>
                                    <h5>Notre meilleure équipe pour tous vos conseils et travaux juridiques</h5>
                                </div>
                            </div>
                        </div>
                        <div class="service-right">
                            <div class="section-head-white">
                                <h2 class="section-title">
                                    Une expérience en laquelle vous pouvez avoir confiance, un service sur lequel vous pouvez compter !
                                </h2>
                                <p class="section-paragraph">
                                    Nous sommes votre partenaire de confiance pour des solutions juridiques adaptées à vos besoins spécifiques. Notre équipe d’experts est là pour vous offrir des conseils personnalisés et une assistance efficace, afin de gérer vos enjeux juridiques avec compétence et intégrité.
                                </p>
                            </div>
                            <div class="counter-inner-two-side">
                                <div class="row">
                                    <div class=" counter-item col-6">
                                        <div class="counter-no">
                                            <span class="counter">320</span>+
                                        </div>
                                        <div class="Completed">
                                            Projets Réalisés
                                        </div>
                                    </div>
                                    <div class=" counter-item col-6">
                                        <div class="counter-no">
                                            <span class="counter">20</span>+
                                        </div>
                                        <div class="Completed">
                                            Prix Décerné
                                        </div>
                                    </div>
                                    <div class=" counter-item col-6">
                                        <div class="counter-no">
                                            <span class="counter">15</span>+
                                        </div>
                                        <div class="Completed">
                                            Bureaux
                                        </div>
                                    </div>
                                    <div class=" counter-item col-6">
                                        <div class="counter-no">
                                            <span class="counter">2000</span>+
                                        </div>
                                        <div class="Completed">
                                            Client Satisfait
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- home testimonial section html -->
            <!-- <section class="home-testimonial-section">
                <div class="container">
                    <div class="home-testimonial-wrapper">
                        <div class="section-head">
                            <h2 class="section-title">
                                Trusted By Our Customers
                            </h2>
                            <p class="section-paragraph">
                                Hic voluptatibus asperiores animi vero. Felis ipsum. Gravida aspernatur adipisci mus adipisci ipsam etiam, repellendus aptent aliquam quas, aptent ab curabitu.
                            </p>
                            <a href="testimonial.html" class="testimonial-btn button-primary">VIEW ALL REVIEWS</a>
                        </div>
                        <div class="review-slider-wrapper">
                            <div class="testimonial-slider">
                                <div class="home-testimonial-content">
                                    <div class="testimonila-detail">
                                        <figure class="testimonila-icon">
                                            <i aria-hidden="true" class="icon icon-quote2"></i>
                                        </figure>
                                        <p>
                                            Repellendus ad voluptate quaerat sociosqu repellat quisque quas sagittis laboriosam perferendis placeat, ducimus perferendis omnis placeat, ducimus perfere.
                                        </p>
                                    </div>
                                    <div class="author-detail">
                                        <figure class="author-img">
                                            <img src="assets/img/legalor-img9.jpg" alt="">
                                        </figure>
                                        <div class="author-info">
                                            <h5 class="author-name">Jason Lawrence</h5>
                                            <span class="author-desc">CLIENT</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="home-testimonial-content">
                                    <div class="testimonila-detail">
                                        <figure class="testimonila-icon">
                                            <i aria-hidden="true" class="icon icon-quote2"></i>
                                        </figure>
                                        <p>
                                            Repellendus ad voluptate quaerat sociosqu repellat quisque quas sagittis laboriosam perferendis placeat, ducimus perferendis omnis placeat, ducimus perfere.
                                        </p>
                                    </div>
                                    <div class="author-detail">
                                        <figure class="author-img">
                                            <img src="assets/img/legalor-img8.jpg" alt="">
                                        </figure>
                                        <div class="author-info">
                                            <h5 class="author-name">Alison White</h5>
                                            <span class="author-desc">CLIENT</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="home-testimonial-content">
                                    <div class="testimonila-detail">
                                        <figure class="testimonila-icon">
                                            <i aria-hidden="true" class="icon icon-quote2"></i>
                                        </figure>
                                        <p>
                                            Repellendus ad voluptate quaerat sociosqu repellat quisque quas sagittis laboriosam perferendis placeat, ducimus perferendis omnis placeat, ducimus perfere.
                                        </p>
                                    </div>
                                    <div class="author-detail">
                                        <figure class="author-img">
                                            <img src="assets/img/legalor-img10.jpg" alt="">
                                        </figure>
                                        <div class="author-info">
                                            <h5 class="author-name">William Scott</h5>
                                            <span class="author-desc">CLIENT</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->
            <!-- home blog section html start -->
            <section class="home-blog-section">
                <div class="container">
                    <div class="section-head col-md-8 offset-md-2 text-center">
                        <h2 class="section-title">
                            Actualités et Articles
                        </h2>
                        <p class="section-paragraph">
                            Placerat fusce imperdiet turpis lacus consequat mauris nostrum, scelerisque, non ipsa quidem iure doloremque, ad at risus aperiam minim dapibus aliquet tempor! Irure exercitationem netus.
                        </p>
                    </div>
                    <div class="inner-blog-wrapper">
                        <article class="post">
                            <figure class="feature-image">
                                <img src="images/j&j parquet 2 lu.jpg" alt="">
                                <span class="cat-meta">
                                    <!-- <a href="#">LEGAL WORK</a> -->
                                </span>
                            </figure>
                            <div class="entry-content">
                                <h5>
                                    <a href="#">La Charge de Travail Augmente dans Votre Département Juridique</a>
                                </h5>
                                <div class="entry-meta">
                                    <span class="posted-on">
                                        <a href="#">17 août 2024.</a>
                                    </span>
                                    <span class="comments">
                                        <!-- <a href="#">No Comments</a> -->
                                    </span>
                                </div>
                            </div>
                        </article>
                        <article class="post">
                            <figure class="feature-image">
                                <img src="images/j&j actu 2.jpg" alt="">
                                <span class="cat-meta">
                                    <!-- <a href="#">LAW & TERMS</a> -->
                                </span>
                            </figure>
                            <div class="entry-content">
                                <h5>
                                    <a href="#">Écouter les clients nous apportera davantage d'expérience</a>
                                </h5>
                                <div class="entry-meta">
                                    <span class="posted-on">
                                        <a href="#">17 août 2024.</a>
                                    </span>
                                    <span class="comments">
                                        <!-- <a href="#">No Comments</a> -->
                                    </span>
                                </div>
                            </div>
                        </article>
                        <article class="post item-3 item-3">
                            <figure class="feature-image">
                                <img src="images/j&j actu.jpg" alt="">
                                <span class="cat-meta">
                                    <!-- <a href="#">LEGAL WORK</a> -->
                                </span>
                            </figure>
                            <div class="entry-content">
                                <h5>
                                    <a href="#">Différence entre Information Juridique et Conseil Juridique</a>
                                </h5>
                                <div class="entry-meta">
                                    <span class="posted-on">
                                        <a href="#">17 août 2024 .</a>
                                    </span>
                                    <span class="comments">
                                        <!-- <a href="#">No Comments</a> -->
                                    </span>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
        </main>
        <!-- footer part -->
        <footer id="colophon" class="site-footer">
            <div class="top-footer">
            <div class="footer-overlay overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <aside class="widget widget_text img-textwidget primary-bg">
                                <div class="footer-logo">
                                    <a href="/index">
                                        <img src="images/J&J logo white.svg" alt="logo">
                                    </a>
                                </div>
                                <div class="textwidget widget-text">
                                    Voluptatum penatibus dis eligendi quasi suscipit voluptas, massa quasi duis elit quas volutpat animi.
                                </div>
                                <div class="footer-locate-link">
                                    <ul>
                                        <li>
                                            <i aria-hidden="true" class="fas fa-map-pin"></i>
                                            <span class="locate-txt">
                                                701 Kasa Vubu, Lubumbashi
                                            </span>
                                        </li>
                                        <li>
                                            <a href="tel:+243999009319">
                                                <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                                <span class="locate-txt">
                                                    +243(999)009-319
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="mailto:info@domain.com">
                                                <i aria-hidden="true" class="fas fa-envelope"></i>
                                                <span class="locate-txt">
                                                    info@domain.com
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                        <div class="col-lg-2 col-sm-6">
                            <aside class="widget">
                                <h5 class="widget-title">usefull link</h5>
                                <ul class="widget-underline">
                                    <li>
                                        <a href="/about">About us</a>
                                    </li>
                                    <li>
                                        <a href="/Contact">Help Center</a>
                                    </li>
                                    <li>
                                        <a href="/legal-notice">Legal Notice</a>
                                    </li>
                                </ul>
                            </aside>
                        </div>
                        <div class="col-lg-2 col-sm-6">
                            <aside class="widget">
                                <h5 class="widget-title">Resources</h5>
                                <ul>
                                    <li>
                                        <a href="/attorney">Attorney</a>
                                    </li>
                                    <li>
                                        <a href="/practice-area">Practise Areas</a>
                                    </li>
                                    <li>
                                        <a href="/feature">Law Advice</a>
                                    </li>
                                </ul>
                            </aside>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <aside class="widget news-widget">
                                <h5 class="widget-title">Subscribe Newsletter</h5>
                                <div class="textwidget widget-text">
                                    Sem quidem convallis ipsa iusto tempore sapiente, corporis! Sagittis etiam.
                                </div>
                                <form class="footer-email-form">
                                    <input type="email" name="email" placeholder="Enter your Email.">
                                    <button type="submit" class="footer-email-btn">
                                        <i aria-hidden="true" class="fas fa-paper-plane"></i>
                                    </button>
                                </form>
                                <div class="footer-social-links">
                                    <p>Follow on social media :</p>
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/" target="_blank">
                                                <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.twitter.com/" target="_blank">
                                                <i class="fab fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank">
                                                <i class="fab fa-instagram" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/" target="_blank">
                                                <i class="fab fa-youtube"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="container">
                    <div class="copy-right">Copyright &copy; 2024 J&J LAW FIRM. All rights reserved.</div>
                </div>
            </div>
        </footer>
        <!-- back to top -->
        <a id="backTotop" href="#" class="to-top-icon">
            <i class="fas fa-chevron-up"></i>
        </a>
        <!-- custom search field html -->
        <div class="header-search-form">
            <div class="container">
                <div class="header-search-container">
                    <form class="search-form" role="search" method="get">
                        <input type="text" name="s" placeholder="Enter your text...">
                    </form>
                    <a href="#" class="search-close">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript -->
    <script src="/vendors/jquery/jquery.js"></script>
    <script src="/vendors/waypoint/jquery.waypoints.min.js"></script>
    <script src="/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendors/jquery-ui/jquery-ui.min.js"></script>
    <script src="/vendors/progressbar-fill-visible/js/progressBar.min.js"></script>
    <script src="/vendors/circle-progress/circle-progress.min.js"></script>
    <script src="/vendors/countdown-date-loop-counter/loopcounter.js"></script>
    <script src="/vendors/modal-video/jquery-modal-video.min.js"></script>
    <script src="/vendors/masonry/masonry.pkgd.min.js"></script>
    <script src="/vendors/isotope/isotope.pkgd.min.js"></script>
    <script src="/vendors/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="/vendors/counterup/jquery.counterup.js"></script>
    <script src="/vendors/slick/slick.min.js"></script>
    <script src="/vendors/slick-nav/jquery.slicknav.js"></script>
    <script src="/js/custom.js"></script>
</body>

</html>