<%- include('header') %>
        <main id="content" class="site-main">
            <!-- Inner Banner html start-->
            <section class="inner-banner-wrap">
                <div class="inner-baner-container" style="background-image: url(/images/politique\ de\ confidentialite.jpg);">
                    <div class="container">
                        <div class="inner-banner-content">
                            <!-- <h1 class="inner-title">Politique</h1> -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- Inner Banner html end-->
            <!-- legal notice archive start -->
            <div class="policy-page-section">
                <div class="container">
                    <div class="policy-inner">
                        <h3>
                            Politique de Confidentialité pour J&J Law Firm
                        </h3>
                        <p>
                            J&J Law Firm, accessible depuis JJLawFirm, accorde une grande importance à la confidentialité de nos visiteurs. Ce document de Politique de Confidentialité contient les types d'informations collectées et enregistrées par J&J Law Firm et comment nous les utilisons.
                        </p>
                        <p>
                            Si vous avez des questions supplémentaires ou avez besoin de plus d'informations sur notre Politique de Confidentialité, n'hésitez pas à nous contacter.
                        </p>
                        <p>
                            Cette Politique de Confidentialité s'applique uniquement à nos activités en ligne et est valable pour les visiteurs de notre site web en ce qui concerne les informations qu'ils partagent et/ou collectent sur J&J Law Firm. Cette politique n'est pas applicable aux informations collectées hors ligne ou via d'autres canaux que ce site web. Notre Politique de Confidentialité a été créée avec l'aide de Free Privacy Policy.
                        </p>
                        <h5>Consentement</h5>
                        <p>
                            En utilisant notre site web, vous consentez par la présente à notre Politique de Confidentialité et acceptez ses termes.
                        </p>
                        <h5>Informations que nous collectons</h5>
                        <p>
                            Les informations personnelles que vous êtes invité à fournir, ainsi que les raisons pour lesquelles nous vous demandons de les fournir, seront clairement indiquées au moment où nous vous demanderons de fournir vos informations personnelles.
                        </p>
                        <p>
                            Si vous nous contactez directement, nous pourrions recevoir des informations supplémentaires vous concernant telles que votre nom, adresse e-mail, numéro de téléphone, le contenu du message et/ou les pièces jointes que vous pourriez nous envoyer, ainsi que toute autre information que vous pourriez choisir de fournir.
                        </p>
                        <p>
                            Lorsque vous vous inscrivez pour un compte, nous pourrions vous demander des informations de contact, y compris des éléments tels que le nom, le nom de l'entreprise, l'adresse, l'adresse e-mail et le numéro de téléphone.
                        </p>
                        <h5>Comment nous utilisons vos informations</h5>
                        <p>
                            Nous utilisons les informations que nous collectons de diverses manières, y compris pour :
                        </p>
                        <ul>
                            <li>Fournir, opérer et maintenir notre site web</li>
                            <li>Améliorer, personnaliser et étendre notre site web</li>
                            <li>Comprendre et analyser comment vous utilisez notre site web</li>
                            <li>Développer de nouveaux produits, services, fonctionnalités et fonctionnalités</li>
                            <li>Communiquer avec vous, directement ou par l'intermédiaire de l'un de nos partenaires, y compris pour le service client, vous fournir des mises à jour et d'autres informations relatives au site web, et à des fins de marketing et promotionnelles</li>
                            <li>Vous envoyer des e-mails</li>
                            <li>Détecter et prévenir la fraude</li>
                        </ul>
                        <h5>Fichiers Log</h5>
                        <p>
                            J&J Law Firm suit une procédure standard d'utilisation des fichiers log. Ces fichiers enregistrent les visiteurs lorsqu'ils visitent des sites web. Toutes les entreprises d'hébergement font cela et cela fait partie des analyses des services d'hébergement. Les informations collectées par les fichiers log incluent les adresses IP, le type de navigateur, le fournisseur d'accès Internet (FAI), les dates et heures, les pages de référence/les pages de sortie et éventuellement le nombre de clics. Ces informations ne sont pas liées à des informations personnelles identifiables. Le but de ces informations est d'analyser les tendances, d'administrer le site, de suivre les mouvements des utilisateurs sur le site web et de rassembler des informations démographiques.
                        </p>
                        <h5>Politique de Confidentialité des Partenaires Publicitaires</h5>
                        <p>
                            Vous pouvez consulter cette liste pour trouver la Politique de Confidentialité de chacun des partenaires publicitaires de J&J Law Firm.
                        </p>
                        <p>
                            Les serveurs publicitaires tiers ou les réseaux publicitaires utilisent des technologies telles que les cookies, JavaScript ou les balises Web qui sont utilisées dans leurs publicités respectives et les liens qui apparaissent sur J&J Law Firm, envoyés directement au navigateur des utilisateurs. Ils reçoivent automatiquement votre adresse IP lorsque cela se produit. Ces technologies sont utilisées pour mesurer l'efficacité de leurs campagnes publicitaires et/ou personnaliser le contenu publicitaire que vous voyez sur les sites web que vous visitez.
                        </p>
                        <p>
                            Notez que J&J Law Firm n'a pas accès à ces cookies utilisés par les annonceurs tiers ni ne les contrôle.
                        </p>
                        <h5>Politiques de Confidentialité des Tiers</h5>
                        <p>
                            La Politique de Confidentialité de J&J Law Firm ne s'applique pas aux autres annonceurs ou sites web. Ainsi, nous vous conseillons de consulter les politiques de confidentialité respectives de ces serveurs publicitaires tiers pour obtenir des informations plus détaillées. Elles peuvent inclure leurs pratiques et des instructions sur la façon de refuser certaines options.
                        </p>
                        <p>J&J Law Firm suit une procédure standard</p>
                        <p>Vous pouvez choisir de désactiver les cookies via les options de votre navigateur. Pour obtenir des informations plus détaillées sur la gestion des cookies avec des navigateurs spécifiques, vous pouvez les trouver sur les sites web respectifs des navigateurs.</p>
                        <h5>Droits de Confidentialité CCPA (Ne Pas Vendre Mes Informations Personnelles)</h5>
                        <p>
                            En vertu du CCPA, parmi d'autres droits, les consommateurs de la RDC ont le droit de :
                        </p>
                        <p>
                            Demander à une entreprise qui collecte les données personnelles d'un consommateur de divulguer les catégories et les éléments spécifiques de données personnelles que l'entreprise a collectés sur les consommateurs.
                        </p>
                        <p>
                            Demander à une entreprise de supprimer toutes les données personnelles concernant le consommateur que l'entreprise a collectées.
                        </p>
                        <p>
                            Demander à une entreprise qui vend les données personnelles d'un consommateur de ne pas vendre les données personnelles du consommateur.
                        </p>
                        <p>
                            Si vous faites une demande, nous avons un mois pour y répondre. Si vous souhaitez exercer l'un de ces droits, veuillez nous contacter.
                        </p>
                        <h5>Droits de Protection des Données GDPR</h5>
                        <p>
                            Nous souhaitons nous assurer que vous êtes pleinement informé de tous vos droits en matière de protection des données. Chaque utilisateur a droit aux éléments suivants :
                        </p>
                        <p>
                            Le droit d'accès – Vous avez le droit de demander des copies de vos données personnelles. Nous pourrions vous facturer un petit montant pour ce service.
                        </p>
                        <p>Le droit de rectification – Vous avez le droit de demander que nous corrigions toute information que vous croyez inexacte. Vous avez également le droit de demander que nous complétions les informations que vous croyez incomplètes.</p>
                        <p>
                            Le droit à l'effacement – Vous avez le droit de demander que nous effacions vos données personnelles, dans certaines conditions.
                        </p>
                        <p>
                            Le droit de limiter le traitement – Vous avez le droit de demander que nous limitions le traitement de vos données personnelles, dans certaines conditions.
                        </p>
                        <p>
                            Le droit d'opposition au traitement – Vous avez le droit de vous opposer à notre traitement de vos données personnelles, dans certaines conditions.
                        </p>
                        <p>
                            Le droit à la portabilité des données – Vous avez le droit de demander que nous transférions les données que nous avons collectées à une autre organisation, ou directement à vous, dans certaines conditions.
                        </p>
                        <p>
                            Si vous faites une demande, nous avons un mois pour y répondre. Si vous souhaitez exercer l'un de ces droits, veuillez <a href="/contact">nous contacter</a>.
                        </p>
                    </div>
                </div>
            </div>
            <!-- legal notice archive end -->
        </main>
        <!-- footer part -->
        <%- include('footer') %>