<%- include('header') %>
    <main id="content" class="site-main">
        <!-- Inner Banner html start-->
        <section class="inner-banner-wrap">
            <div class="inner-baner-container" style="background-image: url(/images/legalor-img5.jpg);">
                <div class="overlay balance-patten"></div>
                <div class="container">
                    <div class="inner-banner-content">
                        <!-- <h1 class="inner-title">Détails des Domaines de Pratique</h1> -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Inner Banner html end-->
        <section class="practice-detail-section">
            <div class="container">
                <div class="practice-inner-detail">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="right-sidebar">
                                <h3 class="practice-title">
                                    Droit des Droits de l'Homme
                                </h3>
                                <figure class="practice-img">
                                    <img src="/images/image32.jpg" alt="">
                                </figure>
                                <p class="practice-paragraph">
                                    Le Cabinet J&J Law Firm s'engage résolument dans la défense et la promotion des droits fondamentaux en République Démocratique du Congo. Notre département spécialisé intervient pour protéger les libertés individuelles, lutter contre les violations des droits humains et assurer l'accès à la justice pour toutes les personnes, particulièrement les plus vulnérables.
                                </p>
                                <p class="practice-paragraph">
                                    Nous accompagnons les victimes de violations des droits de l'homme devant les juridictions nationales et internationales, notamment la Cour Africaine des Droits de l'Homme et des Peuples. Notre expertise couvre également le conseil aux organisations non gouvernementales et aux institutions dans la mise en conformité avec les standards internationaux des droits humains.
                                </p>
                                <article class="practice-summary">
                                    <h5 class="practice-summary-title">Défense des Libertés Fondamentales :</h5>
                                    <p>
                                        Nous mettons notre expertise juridique au service de la protection des droits inhérents à la dignité humaine, en combinant stratégie judiciaire et plaidoyer institutionnel.
                                    </p>
                                    <div class="practical-summary-wrapper">
                                        <figure class="practical-summary-img">
                                            <img src="/images/legalor-img25.png" alt="">
                                        </figure>
                                        <div class="practical-summary-info">
                                            <p>
                                                Notre approche humaniste et déterminée nous permet d'obtenir justice pour nos clients tout en contribuant à l'évolution du droit des droits de l'homme en RDC.
                                            </p>

                                            <p>
                                                Nos domaines d'intervention incluent :
                                            </p>
                                            <ul>
                                                <li>
                                                    <i aria-hidden="true" class="fas fa-dot-circle"></i>
                                                    Défense des victimes d'arrestations arbitraires et de détentions illégales
                                                </li>
                                                <li>
                                                    <i aria-hidden="true" class="fas fa-dot-circle"></i>
                                                    Protection des droits des femmes, des enfants et des personnes vulnérables
                                                </li>
                                                <li>
                                                    <i aria-hidden="true" class="fas fa-dot-circle"></i>
                                                    Lutte contre la torture, les traitements inhumains et dégradants
                                                </li>
                                                <li>
                                                    <i aria-hidden="true" class="fas fa-dot-circle"></i>
                                                    Défense des droits des peuples autochtones et des communautés locales
                                                </li>
                                                <li>
                                                    <i aria-hidden="true" class="fas fa-dot-circle"></i>
                                                    Protection des libertés d'expression, de réunion et d'association
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class=" left-sidebar">
                                <div class="widget-bg faq-widget">
                                    <h5 class="bg-title">Notre Processus</h5>
                                    <div id="sidebar-tab-content" class="accordion-content" role="tablist">
                                        <div id="accordion-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="accordion-A">
                                            <div class="card-header" role="tab" id="qus-A">
                                                <h6 class="mb-0">
                                                    <a data-bs-toggle="collapse" href="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                                                        Évaluation et Recueil des Témoignages
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapse-one" class="collapse show" data-bs-parent="#sidebar-tab-content" role="tabpanel" aria-labelledby="qus-A">
                                                <div class="card-body">
                                                    Écoute attentive des victimes, collecte des preuves, documentation des violations et évaluation des voies de recours nationales et internationales.
                                                </div>
                                            </div>
                                        </div>
                                        <div id="accordion-B" class="card tab-pane" role="tabpanel" aria-labelledby="accordion-B">
                                            <div class="card-header" role="tab" id="qus-B">
                                                <h6 class="mb-0">
                                                    <a class="collapsed" data-bs-toggle="collapse" href="#collapse-two" aria-expanded="false" aria-controls="collapse-two">
                                                        Actions Juridiques et Suivi
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapse-two" class="collapse" data-bs-parent="#sidebar-tab-content" role="tabpanel" aria-labelledby="qus-B">
                                                <div class="card-body">
                                                    Dépôt des requêtes et mémoires, représentation devant les tribunaux, suivi des procédures et recours aux mécanismes internationaux de protection.
                                                </div>
                                            </div>
                                        </div>
                                        <div id="accordion-C" class="card tab-pane" role="tabpanel" aria-labelledby="accordion-C">
                                            <div class="card-header" role="tab" id="qus-C">
                                                <h6 class="mb-0">
                                                    <a class="collapsed" data-bs-toggle="collapse" href="#collapse-three" aria-expanded="true" aria-controls="collapse-three">
                                                        Plaidoyer et Sensibilisation
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapse-three" class="collapse" data-bs-parent="#sidebar-tab-content" role="tabpanel" aria-labelledby="qus-C">
                                                <div class="card-body">
                                                    Actions de plaidoyer auprès des institutions, participation aux réformes législatives et sensibilisation du public sur les droits fondamentaux.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget widget-bg icon-list-content">
                                    <h5 class="bg-title">Autres Domaines de Pratique</h5>
                                    <ul>
                                        <li>
                                            <a href="/practice-area-mines"><i aria-hidden="true" class="fas fa-arrow-circle-right"></i>Droit Minier</a>
                                        </li>
                                        <li>
                                            <a href="/practice-area-ohada"><i aria-hidden="true" class="fas fa-arrow-circle-right"></i>Droit OHADA</a>
                                        </li>
                                        <li>
                                            <a href="/practice-area-assurances"><i aria-hidden="true" class="fas fa-arrow-circle-right"></i>Droit des Assurances</a>
                                        </li>
                                        <li>
                                            <a href="/practice-area-immobilier"><i aria-hidden="true" class="fas fa-arrow-circle-right"></i>Droit Immobilier</a>
                                        </li>
                                        <li>
                                            <a href="/practice-area-detail"><i aria-hidden="true" class="fas fa-arrow-circle-right"></i>Droit des Affaires</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="widget-bg sidebar-contact">
                                    <div class="overlay"></div>
                                    <h5>Laissez-nous Vous Aider !</h5>
                                    <p>
                                        Victime d'une violation de vos droits ? Besoin d'assistance juridique pour défendre vos libertés fondamentales ? Notre cabinet s'engage à vos côtés.
                                    </p>
                                    <a href="tel:+243 995482416">
                                        <h6> Appelez-nous :
                                            <span>+243 995482416</span>
                                        </h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- footer part -->
<%- include('footer') %>