<%- include('header') %>
    <main id="content" class="site-main">
        <!-- Inner Banner html start-->
        <section class="inner-banner-wrap">
            <div class="inner-baner-container" style="background-image: url(assets/img/legalor-img50.jpg);">
                <div class="overlay balance-patten"></div>
                <div class="container">
                    <div class="inner-banner-content">
                        <h1 class="inner-title">Practice Area Detail</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- Inner Banner html end-->
        <section class="practice-detail-section">
            <div class="container">
                <div class="practice-inner-detail">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="right-sidebar">
                                <h3 class="practice-title">
                                    Corporate Business Law
                                </h3>
                                <figure class="practice-img">
                                    <img src="assets/img/image32.jpg" alt="">
                                </figure>
                                <p class="practice-paragraph">
                                    Quisquam officia, dapibus lacus reiciendis elit nostra nascetur voluptatum quis incididunt, ut, hendrerit cumque magni dicta, mollit tellus. Delectus quae, tempora pellentesque adipisicing iusto, lectus accumsan sit gravida, montes delectus, senectus suspendisse id molestiae, parturient magnis, illum harum. Scelerisque saepe possimus incidunt laoreet fringilla sequi cum luctus expedita possimus corrupti laoreet fringilla sequi cum luctus.
                                </p>
                                <article class="practice-summary">
                                    <h5 class="practice-summary-title">Evaluate & Improvement :</h5>
                                    <p>
                                        Quisquam officia, dapibus lacus reiciendis elit nostra nascetur voluptatum quis incididunt, ut, hendrerit cumque magni dicta, mollit tellus. Delectus quae, tempora pellentesque adipi .
                                    </p>
                                    <div class="practical-summary-wrapper">
                                        <figure class="practical-summary-img">
                                            <img src="assets/img/legalor-img30.jpg" alt="">
                                        </figure>
                                        <div class="practical-summary-info">
                                            <p>
                                                Quisquam officia, dapibus lacus reiciendis elit nostra nascetur voluptatum quis incididunt, ut, hendrerit cumque magni dicta, mollit tellus quis incididunt, ut, hendrerit cumque.
                                            </p>
                                            <ul>
                                                <li>
                                                    <i aria-hidden="true" class="fas fa-dot-circle"></i>
                                                    Occaecat velit dis! ea wisi.
                                                </li>
                                                <li>
                                                    <i aria-hidden="true" class="fas fa-dot-circle"></i>
                                                    Aliquam sapiente beatae modi
                                                </li>
                                                <li>
                                                    <i aria-hidden="true" class="fas fa-dot-circle"></i>
                                                    Sem rhoncus, libero lectus.
                                                </li>
                                                <li>
                                                    <i aria-hidden="true" class="fas fa-dot-circle"></i>
                                                    Sit quisque tortor aptent natus.
                                                </li>
                                                <li>
                                                    <i aria-hidden="true" class="fas fa-dot-circle"></i>
                                                    Laboris dictumst porta euismod repellat.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class=" left-sidebar">
                                <div class="widget-bg faq-widget">
                                    <h5 class="bg-title">Our Process</h5>
                                    <div id="sidebar-tab-content" class="accordion-content" role="tablist">
                                        <div id="accordion-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="accordion-A">
                                            <div class="card-header" role="tab" id="qus-A">
                                                <h6 class="mb-0">
                                                    <a data-bs-toggle="collapse" href="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                                                        Planning The Case
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapse-one" class="collapse show" data-bs-parent="#sidebar-tab-content" role="tabpanel" aria-labelledby="qus-A">
                                                <div class="card-body">
                                                    Dolorem laoreet rerum consequuntur impedit excepturi ipsa maiores eos platea impedit ab molestie nascetur, porro.
                                                </div>
                                            </div>
                                        </div>
                                        <div id="accordion-B" class="card tab-pane" role="tabpanel" aria-labelledby="accordion-B">
                                            <div class="card-header" role="tab" id="qus-B">
                                                <h6 class="mb-0">
                                                    <a class="collapsed" data-bs-toggle="collapse" href="#collapse-two" aria-expanded="false" aria-controls="collapse-two">
                                                        Detailly Evaluate Situasion
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapse-two" class="collapse" data-bs-parent="#sidebar-tab-content" role="tabpanel" aria-labelledby="qus-B">
                                                <div class="card-body">
                                                    Dolorem laoreet rerum consequuntur impedit excepturi ipsa maiores eos platea impedit ab molestie nascetur, porro.
                                                </div>
                                            </div>
                                        </div>
                                        <div id="accordion-C" class="card tab-pane" role="tabpanel" aria-labelledby="accordion-C">
                                            <div class="card-header" role="tab" id="qus-C">
                                                <h6 class="mb-0">
                                                    <a class="collapsed" data-bs-toggle="collapse" href="#collapse-three" aria-expanded="true" aria-controls="collapse-three">
                                                        File Case To The Court
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapse-three" class="collapse" data-bs-parent="#sidebar-tab-content" role="tabpanel" aria-labelledby="qus-C">
                                                <div class="card-body">
                                                    Dolorem laoreet rerum consequuntur impedit excepturi ipsa maiores eos platea impedit ab molestie nascetur, porro.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget widget-bg icon-list-content">
                                    <h5 class="bg-title">Other Practice Area</h5>
                                    <ul>
                                        <li>
                                            <a href="/practice-area-detail"><i aria-hidden="true" class="fas fa-arrow-circle-right"></i>All Insurance Law</a>
                                        </li>
                                        <li>
                                            <a href="/practice-area-detail"><i aria-hidden="true" class="fas fa-arrow-circle-right"></i>Real Estate Law</a>
                                        </li>
                                        <li>
                                            <a href="/practice-area-detail"><i aria-hidden="true" class="fas fa-arrow-circle-right"></i>Business Law</a>
                                        </li>
                                        <li>
                                            <a href="/practice-area-detail"><i aria-hidden="true" class="fas fa-arrow-circle-right"></i>Financial Law</a>
                                        </li>
                                        <li>
                                            <a href="/practice-area-detail"><i aria-hidden="true" class="fas fa-arrow-circle-right"></i>Human Rights Law</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="widget-bg sidebar-contact">
                                    <div class="overlay"></div>
                                    <h5>Let Us Help You !</h5>
                                    <p>
                                        Hic voluptatibus asperiores animi vero. Felis ipsum. Gravida aspernatur adipisci mus adipisci ipsam etiam, repellendus.
                                    </p>
                                    <a href="tel:12345678952">
                                        <h6> Call Us :
                                            <span>(1)2345-2345</span>
                                        </h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- footer part -->
<%- include('footer') %>