<%- include('header') %>
    <main id="content" class="site-main">
        <!-- Inner Banner html start-->
        <section class="inner-banner-wrap">
            <div class="inner-baner-container" style="background-image: url(assets/img/legalor-img50.jpg);">
                <div class="overlay balance-patten"></div>
                <div class="container">
                    <div class="inner-banner-content">
                        <h1 class="inner-title">Domaine de Pratique</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- Inner Banner html end-->
        <!-- practice area page html start -->
        <section class="practice-area-section home-legal-area">
            <div class="container">
                <div class="legal-area-list">
                    <div class="legal-area-detail">
                        <figure class="area-img">
                            <img src="assets/img/legalor-img15.jpg" alt="">
                        </figure>
                        <div class="area-content-wrapper">
                            <div class="area-detail">
                                <h5 class="role-title">Droit Corporatif</h5>
                                <span class="area-role-btn">
                                    <a href="/practice-area-detail">EN SAVOIR PLUS
                                        <i aria-hidden="true" class="icon icon-arrow-right"></i>
                                    </a>
                                </span>
                            </div>
                            <div class="legal-area-icon">
                                <i aria-hidden="true" class="fas fa-balance-scale-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="legal-area-detail">
                        <figure class="area-img">
                            <img src="assets/img/legalor-img16.jpg" alt="">
                        </figure>
                        <div class="area-content-wrapper">
                            <div class="area-detail">
                                <h5 class="role-title">Droit des Assurances</h5>
                                <span class="area-role-btn">
                                    <a href="/practice-area-detail">EN SAVOIR PLUS
                                        <i aria-hidden="true" class="icon icon-arrow-right"></i>
                                    </a>
                                </span>
                            </div>
                            <div class="legal-area-icon">
                                <i aria-hidden="true" class="fas fa-handshake"></i>
                            </div>
                        </div>
                    </div>
                    <div class="legal-area-detail">
                        <figure class="area-img">
                            <img src="assets/img/legalor-img17.jpg" alt="">
                        </figure>
                        <div class="area-content-wrapper">
                            <div class="area-detail">
                                <h5 class="role-title">Droit Immobilier</h5>
                                <span class="area-role-btn">
                                    <a href="/practice-area-detail">EN SAVOIR PLUS
                                        <i aria-hidden="true" class="icon icon-arrow-right"></i>
                                    </a>
                                </span>
                            </div>
                            <div class="legal-area-icon">
                                <i aria-hidden="true" class="fas fa-home"></i>
                            </div>
                        </div>
                    </div>
                    <div class="legal-area-detail">
                        <figure class="area-img">
                            <img src="assets/img/legalor-img31.jpg" alt="">
                        </figure>
                        <div class="area-content-wrapper">
                            <div class="area-detail">
                                <h5 class="role-title">Droit des Droits de l'Homme</h5>
                                <span class="area-role-btn">
                                    <a href="/practice-area-detail">EN SAVOIR PLUS
                                    </a>
                                    <i aria-hidden="true" class="icon icon-arrow-right"></i>
                                </span>
                            </div>
                            <div class="legal-area-icon">
                                <i aria-hidden="true" class="fas fa-user-shield"></i>
                            </div>
                        </div>
                    </div>
                    <div class="legal-area-detail">
                        <figure class="area-img">
                            <img src="assets/img/legalor-img29.jpg" alt="">
                        </figure>
                        <div class="area-content-wrapper">
                            <div class="area-detail">
                                <h5 class="role-title">Droit de l'E-commerce</h5>
                                <span class="area-role-btn">
                                    <a href="/practice-area-detail">EN SAVOIR PLUS
                                    </a>
                                    <i aria-hidden="true" class="icon icon-arrow-right"></i>
                                </span>
                            </div>
                            <div class="legal-area-icon">
                                <i aria-hidden="true" class="fas fa-luggage-cart"></i>
                            </div>
                        </div>
                    </div>
                    <div class="legal-area-detail">
                        <figure class="area-img">
                            <img src="assets/img/legalor-img30.jpg" alt="">
                        </figure>
                        <div class="area-content-wrapper">
                            <div class="area-detail">
                                <h5 class="role-title">Droit du Prêt Privé</h5>
                                <span class="area-role-btn">
                                    <a href="/practice-area-detail">EN SAVOIR PLUS
                                    </a>
                                    <i aria-hidden="true" class="icon icon-arrow-right"></i>
                                </span>
                            </div>
                            <div class="legal-area-icon">
                                <i aria-hidden="true" class="fas fa-hand-holding-usd"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about schedule section html start -->
        <section class="home-schedule about-schedule">
            <div class="overlay gradient-overlay"></div>
            <div class="container">
                <div class="schedule-wrapper">
                    <div class="right-side-schedule">
                        <aside class="section-head">
                            <h2 class="section-title">
                                Engagez-nous pour Tous Types de Services Juridiques !
                            </h2>
                            <p class="section-paragraph">
                                Hic voluptatibus asperiores animi vero. Felis ipsum. Gravida aspernatur adipisci mus adipisci ipsam etiam, repellendus aptent aliquam quas, aptent ab curabitu.
                            </p>
                            <div class="timenote">
                                <div class="schedule-time">
                                    <ul>
                                        <li>
                                            <h6>Lundi - Vendredi</h6>
                                        </li>
                                        <li>
                                            <h6>9h00 - 18h00</h6>
                                        </li>
                                        <li>
                                            <h6>Dimanche et Jours Fériés (Fermé)</h6>
                                        </li>
                                    </ul>
                                </div>
                                <div class="note-list">
                                    <ul>
                                        <li>
                                            <i aria-hidden="true" class="far fa-check-square"></i>
                                            <span>
                                                Deleniti, aliquid nullam.
                                            </span>
                                        </li>
                                        <li>
                                            <i aria-hidden="true" class="far fa-check-square"></i>
                                            <span>
                                                Nobis auctor aut enim.
                                            </span>
                                        </li>
                                        <li>
                                            <i aria-hidden="true" class="far fa-check-square"></i>
                                            <span>
                                                Porta perferendis, natoque.
                                            </span>
                                        </li>
                                        <li>
                                            <i aria-hidden="true" class="far fa-check-square"></i>
                                            <span>
                                                Dapibus excepteur ullam.
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="schedule-btn">
                                <a href="/contact" class="button-primary">ENGAGEZ-NOUS DÈS MAINTENANT !</a>
                            </div>
                        </aside>
                    </div>
                    <div class="left-side-shedule">
                        <div class="goal-wrapper">
                            <div class="circle-progressbar-yellow circle-progressbar" data-animate="false">
                                <div class="circle-bar" data-percent="95">
                                    <div class="circle-number"></div>
                                </div>
                            </div>
                            <h5 class="goal-title">Solution Juridique</h5>
                        </div>
                        <div class="goal-wrapper">
                            <div class="circle-progressbar-white circle-progressbar" data-animate="false">
                                <div class="circle-bar" data-percent="98">
                                    <div class="circle-number"></div>
                                </div>
                            </div>
                            <h5 class="goal-title">Réussite de Projet</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- footer part -->
<%- include('footer') %>