.carrer-page-section {
    padding: 100px 0;

    @include bp(mdx) {
        padding: 60px 0;
    }

    .top-section-head {
        margin-bottom: 70px;
    }
}

.vacancy-container {
    .vacancy-form {
        background-image: url(assets/img/legalor-img5.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 30px 20px;
        text-align: center;
        position: relative;
        z-index: 1;

        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(17, 17, 17, 0.85);
        }

        .section-head-white {
            .section-head {
                color: $light-color;
            }
        }

        form {
            text-align: left;
            margin-top: 30px;

            p {
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        textarea {
            border: none;
            padding: 15px;
            color: $text-color;
            background-color: #fafafa;
        }

        input:not([type="submit"]) {
            width: 100%;
            border: none;
            padding: 15px;
            color: $text-color;
            background-color: #fafafa;
            color: #414141;

        }

        input[type="submit"] {
            width: 100%;
            font-family: $title-font;
        }
    }

    @include bp(lg) {
        .vacancy-form {
            margin-left: 20px;
        }
    }
}

.vacancy-content {
    margin-bottom: 30px;
    padding: 40px;
    border: 1px solid #d9d9d9;
    background-color: $light-color;

    .vacancy-time {
        color: $primary-color;
        margin-bottom: 20px;
        display: inline-block;
    }

    p {
        margin-bottom: 35px;
    }

    a {
        font-size: 13px;
        font-weight: 500;
        transition: all 0.4s;

        &:after {
            content: "\e87a";
            font-family: elementskit;
            margin-left: 8px;

        }

        &:hover {
            color: $hover-color;
        }
    }
}

.vacancy-content-wrap {
    [class*="col-"] {

        &:first-child,
        &:nth-child(4n+4),
        &:nth-child(4n+5) {
            .vacancy-content {
                background-color: #f8f8f8;
                border: none;
            }
        }
    }
}

.about-service-wrap {
    padding: 110px 0;
    background-color: #f8f8f8;

    @include bp(mdx) {
        padding: 60px 0;
    }

    .section-head {
        margin-bottom: 0;

        .section-title {
            margin-bottom: 0;
        }

    }

    .section-paragraph {
        @include bp(lg) {
            padding-left: 126px;
        }

        margin-bottom: 0;
    }

    @include bp (lgx) {
        .section-head {
            text-align: center;
            padding: 0;
            margin-bottom: 20px;
        }

        .section-paragraph {
            margin-bottom: 20px;
        }
    }

    .iconbox-container {
        margin-right: -15px;
        margin-left: -15px;
        margin-top: 50px;
    }

    @include bp(smx) {

        .iconbox-container {
            padding-top: 10px;
            margin-top: 30px;
        }
    }
}


.iconbox-item-3 {
    padding: 0 15px;
    width: 100%;

    @include bp(lgx) {
        margin-bottom: 20px;
    }

    @include bp(mdx) {
        padding: 0 15px;
    }

    @include bp(md) {
        width: 50%;
    }

    @include bp(lg) {
        width: 33.33%;
    }

}

.iconbox-border {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    background-color: $light-color;
    padding: 25px;
    width: 100%;

    @include bp(xsx) {
        padding: 20px 15px;
    }

    .iconbox-icon {
        border: 2px solid $primary-color;
        background-color: $light-color;
        border-radius: 50%;
        color: $primary-color;
        font-size: 32px;
        width: 76px;
        height: 76px;
        line-height: 74px;
        text-align: center;

        @include bp(xsx) {
            font-size: 25px;
            width: 56px;
            height: 56px;
            line-height: 54px;
        }
    }

    .iconbox-content {
        @include calc(width, '100% - 78px');
        padding-left: 20px;

        @include bp(xsx) {
            width: calc(100% - 56px);
            padding-left: 12px;
        }

        .inbox-title {
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 0;
        }
    }
}