.career-detail-section {
    position: relative;
    z-index: 1;
    padding: 110px 0;

    @include bp(mdx) {
        padding: 60px 0;
    }

    .job-description {
        background-color: $primary-color;
        overflow: hidden;

        ul {
            margin: 0;
            padding: 0;
            @include flexbox();
            @include flex-wrap(wrap);
            text-align: center;
            padding: 20px 0;
        }

        li {
            color: #787878;
            list-style: none;
            display: inline-block;
            padding: 0 8px;
            width: 25%;
            font-size: 16px;
            font-weight: 600;
            border-right: 1px solid rgba($light-color, 0.23);

            span {
                display: inline-block;
                margin-bottom: 3px;
                font-size: 13px;
                font-weight: 500;
                color: $light-color;
                text-transform: uppercase;
            }

            h6,
            h5,
            h4 {
                margin-bottom: 0;
                color: $light-color;
                text-transform: capitalize;
            }

            &:last-child {
                border-right: none;
            }
        }

        @include bp(smx) {
            li {
                width: 100%;
                border-right: none;
                border-bottom: 1px solid rgba($light-color, 0.28);
                padding: 10px 0;

                &:last-child {
                    border-bottom: none;
                }
            }
        }

        .job-imgage {
            img {
                width: 100%;
            }
        }
    }

    @include bp(lg) {
        .career-detail-container {
            padding-left: 20px;
        }
    }

    .tab-container {
        .responsive-tabs .nav-tabs {
            border-color: #d9d9d9;
        }

        .nav-item {
            a {
                font-size: 15px;
                font-weight: 600;
                line-height: 1.1;
                font-family: $title-font;
            }

            &:hover {
                a {
                    color: $hover-color;
                    border-color: secondary-color;
                }
            }
        }

        .active {
            border-color:  #d9d9d9 #d9d9d9 #fff;

            a {
                color: $hover-color;
            }
        }

        .tab-content {
            background-color: $light-color;
            padding: 20px;
            border-color: #d9d9d9;

            @include bp (mdx) {
                border-width: 1px;
            }

            @include bp (smx) {
                padding: 0;
            }

            .card-body {
                padding: 0;

                @include bp (mdx) {
                    padding: 0 20px;
                }

                h5 {
                    margin-top: 8px;
                    margin-bottom: 16px;
                    font-weight: 900;
                }

                ul {
                    li {
                        color: $text-color;
                    }
                }
            }
        }
    }

    .sidebar {
        padding: 0;

        .widget-bg {
            @include bp(smx) {
                padding: 30px 20px;
            }
            &:last-child {
                margin-bottom: 0;
            }

            .bg-title {
                background-color: $light-color;
                color: $secondary-color;
                text-transform: capitalize;
                padding: 12px;
                box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.05);
            }

            ul {
                li {
                    color: $text-color;
                    display: flex;
                    align-items: center;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    i {
                        font-size: 14px;
                        color: $secondary-color;
                        line-height: 1.5;
                    }

                    .list-txt {
                        font-size: 15px;
                        font-weight: 400;
                        font-family: $primary-font;
                        color: $text-color;
                    }
                }
            }

            .accordion-content {
                .card {
                    .card-header {
                        a {
                            padding: 12px 12px  12px 20px;
                            font-size: 13px;
                            font-weight: 700;
                            line-height: 1.1;
                        }
                    }
                }

                .collapse {
                    .card-body {
                        color: $text-color;
                    }
                }
            }

            .widget-icon {
                color: $primary-color;
                border: 3px solid $primary-color;
                margin-bottom: 25px;
                background-color: #f8f8f8;
                width: 110px;
                height: 110px;
                line-height: 108px;
            }

            p {
                a {
                    color: $primary-color;
                    transition: all 0.4s;
                    &:hover {
                        color: $hover-color;
                    }
                }
            }

            .or-style {
                color: $primary-color;
                font-family: $title-font;
                font-size: 18px;
                font-weight: 700;
                text-align: center;

                &:before,
                &:after {
                    width: 60px;
                    background-color: #d9d9d9;
                }
            }
        }

        .upload-widget {
            position: relative;
            z-index: 1;
            .button-primary {
                margin-top: 0;
            }
        }
    }
}
