.comming-soon-section {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    @include flexbox;
    @include align-items(center);
    position: relative;

    * {
        color: $light-color;
    }

    .primary-color {
        color: $primary-color;
    }

    .overlay {
        background-color: $secondary-color;
        opacity: 0.80;
        z-index: 1;
    }

    .comming-soon-wrap {
        color: $light-color;
        position: relative;
        z-index: 2;
    }

    .site-identity {
        text-align: center;

        img {
            max-width: 100%;
        }
    }

    .comming-soon-content {
        margin-top: 70px;
        margin-bottom: 40px;
        text-align: center;

        .section-title {
            @include font-size(60);
            font-weight: 800;
            line-height: 1.1;
            margin-bottom: 30px;
            text-transform: capitalize;

            &:after {
                background-color: #d9d9d9;
                content: "";
                width: 90px;
                height: 5px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 24px;
            }

            @include bp(mdx) {
                font-size: 30px;
            }
        }

        h5 {
            text-transform: capitalize;
            color: #d9d9d9;
        }
    }

    .time-counter-wrap {
        margin-bottom: 80px;

        @include bp(mdx) {
            margin-bottom: 60px;
        }
    }

    .time-counter {
        @include flexbox;
        @include justify-content(center);
        @include flex-wrap(wrap);
        text-align: center;

        .counter-time {
            width: 150px;
            margin: 0 12px;
            padding: 25px;
            border: 1px solid rgba(255, 255, 255, 0.30);
            aspect-ratio: 1/1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            span {
                font-size: 15px;
                color: #fff;
                display: block;
                font-weight: 500;
                line-height: 1.7;
            }

            .label-text {
                color: $light-color;
                margin-bottom: 0;
            }

            [class*="counter-"] {
                color: $light-color;
                @include font-size(50);
                font-family: $title-font;
                font-weight: 900;
                line-height: 1.1;
            }
        }
    }

    .social-icons {
        text-align: right;

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            list-style: none;
            display: inline-block;
            margin: 0 3px;
        }

        a {
            background-color: rgba(235, 150, 1, 0.55);
            color: $light-color;
            text-align: center;
            @include font-size(16);
            @include border-radius(100%);
            color: $light-color;
            display: block;
            width: 36px;
            height: 36px;
            line-height: 35px;
            @include transition(all 0.4s);

            &:hover {
                background-color: $hover-color;
                border-color: $hover-color;
                color: $light-color;
            }
        }

        @include bp(mdx) {
            text-align: center;
        }
    }

    .com-contact-info {
        ul {
            @include font-size(0);
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                @include font-size(15);
                padding: 0 10px;

                &:last-child {
                    padding-right: 0;
                }

                &:first-child {
                    padding-left: 0;
                }

                [class*="fa-"] {
                    margin-right: 5px;
                }

                a {
                    color: darken($light-color, 1%);
                    display: block;
                    @include transition(color 0.4s linear);

                    &:hover,
                    &:focus,
                    &:active {
                        color: $hover-color;
                    }

                    i {
                        color: $light-color;
                        font-size: 14px;
                    }
                }

                @include bp(lgx) {
                    padding: 0 8px;
                }

                @include bp(smx) {
                    font-size: 13px;
                }
            }
        }
    }

    @include bp(xl) {
        height: 100vh;
    }

    @include bp(xlx) {
        padding: 30px 0;
    }

    @include bp(mdx) {
        .comming-soon-content {
            margin-top: 40px;
        }

        .comming-soon-footer {
            text-align: center;
        }

        .com-contact-info {
            margin-bottom: 20px;
        }

        .time-counter {
            .counter-time {
                width: 115px;

                [class*="counter-"] {
                    @include font-size(42);
                }
            }
        }
    }

    @include bp(smx) {
        .comming-soon-content {
            h2 {
                @include font-size(30);
            }
        }

        .time-counter {
            justify-content: space-evenly;

            .counter-time {
                width: initial;
                min-width: 80px;
                margin: 0;
            }
        }
    }

    @include bp(xsx) {
        .time-counter {
            justify-content: space-between;
            .counter-time {
                min-width: 70px;
                padding: 10px 5px;
            }
        }
    }
}