.Community-section {
    padding: 110px 0;
    background-color: #f8f8f8;

    @include bp(mdx) {
        padding: 60px 0;
    }

    .community-inner {
        margin-bottom: 30px;

        .section-head {
            margin-bottom: 0;

            .section-title {
                @include bp(lg) {
                    margin-bottom: 0;
                }
            }

            @include bp(lgx) {
                text-align: center;
            }
        }
    }

    .iconbox-container-bg {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 45px;
        grid-row-gap: 30px;
        margin-top: 60px;
        margin-bottom: 60px;

        .iconbox-item-bg {
            padding: 35px;
            text-align: center;
            overflow: hidden;
            background-color: $light-color;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
            transition: all 0.5s;

            a {
                .iconbox-content-bg {
                    i {
                        width: 100px;
                        height: 100px;
                        line-height: 99px;
                        display: inline-block;
                        background-color: $primary-color;
                        color: $light-color;
                        text-align: center;
                        margin-bottom: 25px;
                        border-radius: 50%;
                        font-size: 50px;
                        transition: all 0.5s;
                    }

                    p {
                        margin-bottom: 0;
                        color: $text-color;
                    }
                }

            }

            &:hover {
                box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);

                a {
                    .iconbox-content-bg {
                        i {
                            background-color: $hover-color;
                        }
                    }
                }
            }
        }

        @include bp(lgx) {
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            margin-top: 40px;

            .item-3 {
                grid-column: 1/span 2;
                max-width: 455px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        @include bp(smx) {
            grid-template-columns: repeat(1, 1fr);
            margin-bottom: 40px;

            .item-3 {
                grid-column: 1/span 1;
                max-width: initial;
            }
        }
    }

    .about-purpose {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 60px;
        grid-row-gap: 30px;
        align-items: center;

        @include bp(lgx) {
            grid-template-columns: repeat(1, 1fr);
        }

        .appointment-image {
            position: relative;
            z-index: 1;
            text-align: center;

            .rise-sun-patten {
                background-image: url(assets/img/legalor-img38.png);
                background-position: bottom center;
                background-repeat: no-repeat;
                opacity: 0.25;
                background-size: contain;
            }

            img {
                width: 70%;
                filter: brightness(120%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
                vertical-align: middle;
            }
        }

        .mission-and-aim-inside {
            .about-mission-content {
                .section-head {
                    margin-bottom: 40px;
                }

                .faq-widget {
                    .accordion-content {
                        .card {
                            box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.1);

                            .mb-0 {
                                a {
                                    padding: 22px;
                                    font-size: 15px;
                                    line-height: 1.2;
                                    color: #111;

                                    @include bp(mdx) {
                                        font-size: 13px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}