.account-recover-section {
    margin: 110px 0;

    @include bp(mdx) {
        margin: 60px 0;
    }

    .recover-wrapper {
        border-radius: 25px;
        box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.03);
        padding: 50px;

        .form-group {
            label {
                margin-bottom: 10px;
                color: $text-color;
                font-size: 13px;
                font-weight: 500;
                line-height: 1.2;

                .label-star {
                    color: red;
                }
            }

            input {
                background-color: #f8f8f8;
            }
        }

        @include bp(smx) {
            padding-left: 25px;
            padding-right: 25px;
        }
    }
}