.team-detail-section {
    padding: 110px 0;

    @include bp(mdx) {
        padding: 60px 0;
    }

    .team-detail-info {
        position: relative;
        z-index: 1;

    }

    .author-img-wrapper {
        .team-fig {
            overflow: hidden;

            img {
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    .author-bio-date {
        position: relative;
        z-index: 1;
        margin-top: 40px;
         @include bp(md) {
            margin-top: 0;
            margin-left: 24px;
        }
        @include bp(lg) {
            margin-left: 90px;
        }

        .author-title {
            color: $primary-color;
            margin-bottom: 15px;
        }

        .author-name {}

        .author-disc {
            margin-bottom: 30px;
        }

        .author-contact-info {
            margin-bottom: 35px;

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    margin-bottom: 10px;
                    display: flex;
                    align-items: center;

                    &:last-chidl {
                        margin-bottom: 0;
                    }

                    strong {
                        margin-right: 12px;
                    }
                }
            }

        }

        .qualification {
            background-color: #f8f8f8;
            padding: 25px 30px;
            @include bp(smx) {
                padding: 25px 20px;
            }
            .qualification-title {
                color: $secondary-color;
                text-transform: capitalize;
            }

            .experience-detail {
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }

                .date {
                    color: $primary-color;
                    font-weight: 500;
                }

                .certificate {
                    color: $text-color;
                    margin-bottom: 0;
                }
            }
        }

    }

    .experience-info {
        margin-top: 50px;

        .experience-heading {
            color: #111111;
            margin-bottom: 18px;
        }

        p {
            margin-bottom: 15px;
            color: $text-color;
        }
    }

    .experience-wrappered {
        display: flex;
        padding-top: 20px;
        align-items: center;

        .experience-list {
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;

                li {
                    color: $text-color;
                    padding-bottom: 7px;
                    margin-top: 7px;
                    font-family: $title-font;
                    vertical-align: middle;
                    display: flex;
                    align-items: center;
                    line-height: 1.2;
                    font-family: $primary-font;

                    i {
                        color: $primary-color;
                        font-size: 14px;
                        padding-right: 10px;
                    }
                }
            }
        }

        .skill-container {
            padding: 28px 35px 28px;
            margin-right: 56px;
            background-color: #fafafa;

            .skill-wrapper {
                margin-bottom: 25px;

                &:last-child {
                    margin-bottom: 0;
                }

                .skill-titile {
                    color: $text-color;
                    margin-bottom: 5px;
                    font-size: 17px;
                    font-weight: 700;
                    font-family: $title-font;
                    text-transform: uppercase;
                    line-height: 1;

                    @include bp(mdx) {
                        font-size: 13px;
                    }
                }

                .progress-wrapper {
                    padding-top: 0;

                    .progress-indecator-inner {
                        top: 0;

                        .percent {
                            left: -50px;
                            padding: 0;
                            line-height: 1;
                            display: inline-block;
                            font-size: 11px;
                            background-color: transparent;
                            top: 0;
                            transform: translatey(15%);

                            &:before {
                                display: none;
                            }
                        }
                    }

                    .progress-bar-wrap {
                        height: 16px;
                        overflow: hidden;
                        background-color: #d9d9d9;
                        border-radius: 0;

                        .ab-progress-bar {
                            background-color: $primary-color;
                            height: 16px;
                            border-radius: 0;
                        }
                    }
                }
            }

            @include bp (lgx) {
                margin-bottom: 30px;
                margin-right: 0;
            }

            @include bp (xsx) {
                padding: 20px;
            }
        }
    }
}