.home-schedule {
    background-image: url(assets/img/legalor-img42.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;

    .gradient-overlay {
        background-color: transparent;
        background-image: linear-gradient(90deg, rgba($secondary-color, 1.0) 50%, rgba(0, 0, 0, 0.0) 50%);
        opacity: 1;
        @include bp(smx) {
        background-image: linear-gradient(90deg, rgba($secondary-color, 1.0) 50%, rgba($secondary-color, 1.0) 50%);

        }
    }

    .schedule-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;

        .right-side-schedule {
            background-color: $secondary-color;
            padding: 101px 80px 110px 0px;
            position: relative;
            z-index: 1;

            .balance-patten {
                background-image: url(assets/img/legalor-img39.png);
                background-position: bottom right;
                background-repeat: no-repeat;
                background-size: contain;
                opacity: 0.05;
            }
            .section-head-white  {
                @include bp(sm) {
                    margin-bottom: 0;
                }
            }
            .timenote {
                margin-top: 31px;
                display: flex;
                justify-content: space-between;

                .schedule-time {
                    flex-basis: 50%;

                    ul {
                        list-style-type: none;
                        margin: 0;
                        padding: 0;

                        li {
                            margin-bottom: 6px;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            h6 {
                                margin-bottom: 0;
                                font-weight: 700;
                                color: #fff;
                            }
                        }
                    }
                }

                .note-list {
                    flex-basis: 50%;

                    ul {
                        list-style-type: none;
                        margin: 0;
                        padding: 0;

                        li {
                            margin-bottom: 6px;
                            display: flex;
                            align-items: center;
                            line-height: 1.3;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            i {
                                color: $primary-color;
                                margin-right: 19px;
                                font-size: 14px;
                            }

                            span {
                                color: #d9d9d9;
                            }
                        }
                    }
                }
            }

            .schedule-btn {
                margin-top: 40px;
            }
            @include bp(lgx) {
                padding: 110px 40px 110px 0px;
            }
            @include bp(mdx) {
                padding: 60px 15px 60px 0px;
                .timenote {
                    display: block;
                    .schedule-time{
                        margin-bottom: 20px;
                    }
                }
            }
        }

        .left-side-shedule {
            width: 21%;
            min-width: 240px;
            .goal-wrapper {
                padding: 30px;
                background-color: $light-color;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .circle-progressbar {
                    .circle-bar {
                        position: relative;
                        z-index: 1;

                        .circle-number {
                            position: absolute;
                            top: 48%;
                            left: 50%;
                            transform: translate(-50%);
                            line-height: 0;
                            font-size: 28px;
                            font-weight: 700;
                            color: $secondary-color;
                        }
                    }
                }

                .goal-title {
                    margin-bottom: 12px;
                    margin-top: 4px;
                    color: $secondary-color;
                }

                &:nth-child(even) {
                    background-color: $primary-color;

                    .circle-progressbar {
                        .circle-bar {
                            .circle-number {
                                color: $light-color;
                            }
                        }
                    }
                    .goal-title {
                        color: $light-color;
                    }
                }
            }
            @include bp(lgx) {
                width: 60%;
            }
            @include bp(mdx) {
                width: 80%;
            }
        }
        @include bp(smx) {
            grid-template-columns: repeat(1, 1fr);
            .right-side-schedule {
                padding: 60px 0 30px;
            }
            .left-side-shedule  {
                width: 100%;
                padding-bottom: 60px;
            }
        }
    }
}