// Theme
$primary-color: #EB9601;
$secondary-color: #303649;
$sub-secondary-color: rgba(250, 3, 104, 0.54);
$hover-color: #A46B09;
$title-color: #030F27;
$nav-color : #FA0368;
$sub-title-color:#E7F0F7;
$inner-text-color: #d9d9d9;
$text-color: #565872;
$light-color: #ffffff;
$dark-color: #111111;
$divider-title-color: #a7a7a7;
$gray-color:#d5d5d5;
$anchor-color: #a7a7a7;

// Default
$danger-color: #D9534F;
$info-color: #5BC0DE;
$success-color: #5CB85C;
$warning-color: #F0AD4E;
$disable-color: #CCC;


// Font Family
$primary-font: 'Open Sans', sans-serif;
$title-font:   'Marcellus', serif;

// Line Hight
$body-line-height: 1.6;
$title-line-height: 1.4;