.inner-baner-container {
    background-position: 100% 47%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    min-height: 495px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -130px;

    @include bp(mdx) {
        min-height: 375px;
    }

    @include bp(lgx) {
        background-position: bottom center;
    }

    &:before {
        background-color: $secondary-color;
        content: "";
        display: block;
        opacity: 0.95;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        z-index: 0;
    }

    .balance-patten {
        background-image: url(assets/img/legalor-img39.png);
        background-position: bottom right;
        background-repeat: no-repeat;
        opacity: 1;
        background-size: 21% 91%;
    }

    .inner-banner-content {
        position: relative;
        z-index: 1;
        color: $light-color;
        text-align: center;
        padding: 278px 0 148px;

        @include bp(mdx) {
            padding: 218px 0 98px;
        }
    }

    .inner-title {
        color: $light-color;
        line-height: 1.1;
        margin-bottom: 0;
        text-transform: capitalize;
    }

    .inner-title60 {
        font-size: 60px;
        color: $light-color;
        line-height: 1.1;
        margin-bottom: 0;
        text-transform: capitalize;

        @include bp(mdx) {
            font-size: 34px;
            line-height: 1.2;
        }

    }

    .entry-meta {
        border-top: 1px solid rgba(217, 217, 217, 0.45);
        border-bottom: 1px solid rgba(217, 217, 217, 0.45);
        margin-left: auto;
        margin-right: auto;
        display: table;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 30px;
        margin-bottom: 80px;

        @include bp(mdx) {
            margin-bottom: 60px;
        }

        @include bp (xsx) {
            margin-top: 10px;
        }

        span {
            padding: 0 15px;
            position: relative;
            color: $secondary-color;

            @include bp(xsx) {
                padding: 0 10px;
            }

            &:before {
                color: $light-color;
                content: "";
                width: 1px;
                height: 26px;
                background-color: rgba(217, 217, 217, 0.27);
                position: absolute;
                right: 0;
                top: 0;
                line-height: 1;

                @include bp(mdx) {
                    height: 24px;
                }
            }

            &:last-child {
                &:before {
                    display: none;
                }
            }
        }

        .posted-on {
            a {
                &:before {
                    content: "\f073";
                    color: $primary-color;
                }
            }
        }

        .byline {
            a {
                &:before {
                    content: "\f2bd";
                    color: $primary-color;
                }
            }
        }

        .comments-link {
            a {
                &:before {
                    content: "\f086";
                    color: $primary-color;
                }
            }
        }

        a {
            color: $light-color;
            display: inline-block;
            line-height: 1.7;

            &:before {
                font-family: "Font Awesome 5 Free";
                margin-right: 10px;
                font-weight: 900;
                @include transition(all 0.3s);
                color: $primary-color;
                font-size: 13px;
            }

            &:hover,
            &:focus {
                color: $hover-color;
            }
        }
    }

    .breadcrumb {
        background-color: transparent;
        @include justify-content(center);
        margin: 0;
        padding: 0;

        li {
            color: $light-color;
            @include font-size(14);

            &:before {
                color: inherit;
            }

            a {
                color: $light-color;

                &:hover {
                    color: $hover-color;
                }
            }

            &.active {
                color: darken($light-color, 30%);
            }
        }
    }
}