.bottom-header {
    @include transition(background-color 0.5s linear);
}

.fixed-header {
    .bottom-header {
        @include box-shadow(0 -3px 10px rgba(0, 0, 0, 0.2));
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
        z-index: 999;

        .header-contact-info a {
            padding: 6px 0;

            @include bp(mdx) {
                padding: 6px;
            }
        }

        .hb-group .bottom-sub-menu .more-about-ceo {
            button {
                padding: 20px 22px;

                i {
                    transition: all 0.4s;
                }

                &:hover {
                    i {
                        color: $hover-color;
                    }
                }

                @include bp(mdx) {
                    padding: 17px;
                }

                @include bp(smx) {
                    padding: 13px;
                }
            }
        }

        // fixed mobile nav
        .mobile-menu-container {
            .slicknav_nav {
                height: calc(100vh - 111px);

                @include bp(mdx) {
                    height: calc(100vh - 96px);
                }
                @include bp(smx) {
                    height: calc(100vh - 89px);
                }
            }
        }
    }
}