/*--------------------------------------------------------------
>>> Home banner section  
----------------------------------------------------------------*/
@import "section/home-banner";


/*--------------------------------------------------------------
>>> Home banner section  
----------------------------------------------------------------*/
@import "section/home-about";


/*--------------------------------------------------------------
>>> Home home-event  
----------------------------------------------------------------*/
@import "section/home-event";

/*--------------------------------------------------------------
>>> home-legal-area.scss  
----------------------------------------------------------------*/
@import "section/home-legal-area.scss";

/*--------------------------------------------------------------
>>> Home home-schedule  
----------------------------------------------------------------*/
@import "section/home-schedule";

/*--------------------------------------------------------------
>>> Home home-gallery  
----------------------------------------------------------------*/
@import "section/home-gallery";

/*--------------------------------------------------------------
>>> Home home-testimonial
----------------------------------------------------------------*/
@import "section/home-testimonial";

/*--------------------------------------------------------------
>>> Home home-service
----------------------------------------------------------------*/
@import "section/home-service";

/*--------------------------------------------------------------
>>> Home home-blog
----------------------------------------------------------------*/
@import "section/home-blog";

/*--------------------------------------------------------------
>>> Home home-sidebar
----------------------------------------------------------------*/
@import "section/home-sidebar";
